<h2>Icons (16x16) general <code>.icon</code></h2>
<ul class="iconlist">
	<li>
		<span class="icon icon-arrow-left"></span>Arrow left<br />
		<code>.icon-arrow-left</code>
	</li>
	<li>
		Arrow right<span class="icon icon-reverse icon-arrow-right"></span><br />
		<code>.icon-reverse icon-arrow-right</code>
	</li>
	<li>
		<span class="icon icon-expand"></span>Expand<br />
		<code>.icon-expand</code>
	</li>
	<li>
		<span class="icon icon-collapse"></span>Collapse<br />
		<code>.icon-collapse</code>
	</li>
	<li>
		<span class="icon icon-info"></span>Info<br />
		<code>.icon-info</code>
	</li>
	<li>
		<span class="icon icon-question"></span>Question<br />
		<code>.icon-question</code>
	</li>
	<li>
		<span class="icon icon-download"></span>Download<br />
		<code>.icon-download</code>
	</li>
	<li>
		<span class="icon icon-print"></span>Print<br />
		<code>.icon-print</code>
	</li>
</ul>