{% load url from future %}

<div class="grid-8 alpha templatelist">
	<h2 class="halfspace">Category</h2>
	<p>1.01 <a href="{% url 'divio_styleguide_template' 'example_template' %}">Example template</a> <span class="new">dev</span></p>
	<p>1.02 <a href="#">Template Name</a> <span class="new">dev</span></p>
	<p>1.03 <a href="#">Template Name</a> <span class="new">dev</span></p>
	<p>1.04 <a href="#">Template Name</a> <span class="new">dev</span></p>
	<p>1.05 <a href="#">Template Name</a> <span class="new">dev</span></p>
</div>
<div class="grid-8 templatelist">
	<h2 class="halfspace">Category</h2>
	<p>2.01 <a href="#">Template Name</a> <span class="ok">14.02.03</span></p>
	<p>2.02 <a href="#">Template Name</a> <span class="ok">14.02.03</span></p>
	<p>2.03 <a href="#">Template Name</a> <span class="ok">14.02.03</span></p>
	<p>2.04 <a href="#">Template Name</a> <span class="ok">14.02.03</span></p>
	<p>2.05 <a href="#">Template Name</a> <span class="ok">14.02.03</span></p>
</div>
<div class="grid-8 omega templatelist">
	<h2 class="halfspace">Category</h2>
	<p>3.01 <a href="#">Template Name</a></p>
	<p>3.02 <a href="#">Template Name</a></p>
	<p>3.03 <a href="#">Template Name</a></p>
	<p>3.04 <a href="#">Template Name</a></p>
	<p>3.05 <a href="#">Template Name</a></p>
</div>