{% load i18n %}
<!-- start: master template -->
<section>
	<h1>H1 - Heading</h1>
	<p>A <strong>style guide</strong> or style manual is a set of standards for the writing and design of documents,
		either for general use or for a specific publication, organization or field. The implementation of a style
		guide provides uniformity in style and formatting within a document and across multiple documents.</p>

	<h2>H2 - Heading</h2>
	<p>A set of standards for a specific organization is often known as "house style". Style guides are common for
		general and specialized use, for the general reading and writing audience, and for students and scholars of
		various <a href="http://en.wikipedia.org/wiki/Academia">academic</a> disciplines, medicine, journalism,
		the law, government, business, and industry.</p>

	<h3>H3 - Heading</h3>
	<p>Organizations advocating for social minorities sometimes establish what they believe to be fair and
		correct language treatment of their audiences.</p>

	<h4>H4 - Heading</h4>
	<p>Some style guides focus on <a href="http://en.wikipedia.org/wiki/Graphic_design">graphic design</a>,
		focusing on such topics as <a href="http://en.wikipedia.org/wiki/Typography">typography</a> and white space.
		<a href="http://en.wikipedia.org/wiki/Web_site">Web site</a> style guides cover a publication's visual and
		technical aspects, along with text.</p>

	<h5>H5 - Heading</h5>
	<p>Many style guides are revised periodically to accommodate changes in conventions and
		<a href="http://en.wikipedia.org/wiki/Usage">usage</a>. The Associated Press Stylebook, for example, is
		revised annually.</p>

	<h6>H6 - Heading</h6>
	<p>From Wikipedia, the free encyclopedia. For Wikipedia's own style guide, see
		<a href="http://en.wikipedia.org/wiki/Wikipedia:Manual_of_Style">Wikipedia:Manual of Style</a>.</p>

	<pre><code><h1>{content}</h1></code></pre>
</section>

<hr />



{# comment VERSION 4.0 #}



















<div class="master-template clearfix">
<div class="grid_17 suffix_1 alpha">
<!-- fonts -->
<div id="fonts">
	<h1>Fonts</h1>
	<p class="nospace color-primary fontsize-12">Regular</p>
	<p class="fontsize-28">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br/>
		abcdefghijklmnopqrstuvwxyz<br/>
		1234567890!@#$%^&*()_+</p>
	<p class="nospace color-primary fontsize-12">Italic</p>
	<p class="fontsize-28 italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br/>
		abcdefghijklmnopqrstuvwxyz<br/>
		1234567890!@#$%^&*()_+</p>
	<p class="nospace color-primary fontsize-12">Bold</p>
	<p class="fontsize-28 bold">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br/>
		abcdefghijklmnopqrstuvwxyz<br/>
		1234567890!@#$%^&*()_+</p>
	<p class="nospace color-primary fontsize-12">Bold Italic</p>
	<p class="fontsize-28 bold italic">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br/>
		abcdefghijklmnopqrstuvwxyz<br/>
		1234567890!@#$%^&*()_+</p>
</div>
<p>&nbsp;</p>
<!-- type -->
<div id="type">
	<h1>Type sizes</h1>
	<p class="fontsize-42">Lorem Ipsum is simply dummy text of the printing and typesetting industry <span class="color-primary">42px/50px</span></p>
	<p class="fontsize-36">Lorem Ipsum is simply dummy text of the printing and typesetting industry <span class="color-primary">36px/44px</span></p>
	<p class="fontsize-28">Lorem Ipsum is simply dummy text of the printing<br/>and typesetting industry <span class="color-primary">28px/36px</span></p>
	<p class="fontsize-24">Lorem Ipsum is simply dummy text of the printing<br/>and typesetting industry <span class="color-primary">24px/32px</span></p>
	<p class="fontsize-22">Lorem Ipsum is simply dummy text of the printing<br/>and typesetting industry <span class="color-primary">22px/30px</span></p>
	<p class="fontsize-20">Lorem Ipsum is simply dummy text of the printing<br/>and typesetting industry <span class="color-primary">20px/28px</span></p>
	<p class="fontsize-18">Lorem Ipsum is simply dummy text of the printing<br/>and typesetting industry <span class="color-primary">18px/26px</span></p>
	<p class="fontsize-16">Lorem Ipsum is simply dummy text of the printing<br/>and typesetting industry <span class="color-primary">16px/24px</span></p>
	<p class="fontsize-14">Lorem Ipsum is simply dummy text of the printing<br/>and typesetting industry <span class="color-primary">14px/22px</span></p>
	<p class="fontsize-13">Lorem Ipsum is simply dummy text of the printing<br/>and typesetting industry <span class="color-primary">13px/22px</span></p>
	<p class="fontsize-12">Lorem Ipsum is simply dummy text of the printing<br/>and typesetting industry <span class="color-primary">12px/20px</span></p>
	<p class="fontsize-11">Lorem Ipsum is simply dummy text of the printing<br/>and typesetting industry <span class="color-primary">11px/16px</span></p>
</div>
<p>&nbsp;</p>
<!-- headings -->
<div id="headings">
	<h1>Headings</h1>
	<p class="nospace color-primary fontsize-12">H1 - 42px / 50px / Regular / Margin 10px</p>
	<h1>Lorem Ipsum is simply dummy text</h1>
	<p class="nospace color-primary fontsize-12">H2 - 36px / 44px / Regular / Margin 10px</p>
	<h2>Lorem Ipsum is simply dummy text</h2>
	<p class="nospace color-primary fontsize-12">H3 - 28px / 36px / Regular / Margin 10px</p>
	<h3>Lorem Ipsum is simply dummy text</h3>
	<p class="nospace color-primary fontsize-12">H4 - 22px / 30px / Regular / Margin 5px</p>
	<h4>Lorem Ipsum is simply dummy text</h4>
	<p class="nospace color-primary fontsize-12">H5 - 18px / 26px / Regular / Margin 5px</p>
	<h5>Lorem Ipsum is simply dummy text</h5>
	<p class="nospace color-primary fontsize-12">H6 - 16px / 24px / Regular / Margin 5px</p>
	<h6>Lorem Ipsum is simply dummy text</h6>
</div>
<p>&nbsp;</p>
<!-- paragraph -->
<div id="paragraph">
	<h1>Paragraph</h1>
	<p>Lorem Ipsum is simply <strong>dummy text</strong> of the <em>printing</em> and <em>typesetting</em> industry. Lorem Ipsum has been the industry's
		standard dummy text ever since the 1500s, when an <a href="#">unknown printer</a> took a galley of type and scrambled it to make
		a type <strong><em>specimen book</em></strong>. It has <del>survived</del> not only five centuries, but also the leap into electronic
		<span class="color-primary">typesetting</span>, remaining essentially unchanged. It was <ins>popularised</ins> in the 1960s with the release of
		Letraset sheets containing Lorem Ipsum passages, and more recently with <mark>desktop publishing</mark> software like Aldus PageMaker including versions
		of Lorem Ipsum.</p>
</div>
<p>&nbsp;</p>
<!-- grouping -->
<div id="grouping">
	<h1>Grouping content</h1>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et m.</p>
	<h3>pre</h3>
	<pre>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et me.</pre>
		<pre><code>&lt;html>
			&lt;head>
			&lt;/head>
			&lt;body>
			&lt;div class="main"> &lt;div>
			&lt;/body>
			&lt;/html></code></pre>

	<h3>blockquote</h3>
	<blockquote>
		<p>Some sort of famous witty quote marked up with a &lt;blockquote> and a child &lt;p> element.</p>
	</blockquote>
	<blockquote>Even better philosophical quote marked up with just a &lt;blockquote> element.</blockquote>
</div>
<p>&nbsp;</p>
<!-- buttons -->
<div id="buttons">
	<h1>Buttons</h1>
	<p><a href="#" class="btn">Primary anchor button</a> &nbsp;&nbsp;&nbsp;
		<input type="submit" class="btn" value="Primary submit" /> &nbsp;&nbsp;&nbsp;
		<button class="btn">Primary button</button> &nbsp;&nbsp;&nbsp;
	</p>
	<p>
		<a href="#" class="btn btn-grey">Grey anchor button</a> &nbsp;&nbsp;&nbsp;
		<input type="submit" class="btn btn-grey" value="Grey submit" /> &nbsp;&nbsp;&nbsp;
		<button class="btn btn-grey">Grey button</button> &nbsp;&nbsp;&nbsp;
	</p>
</div>
<p>&nbsp;</p>
<!-- icons -->
<div id="icons">
	<h1>Icons</h1>
	<p>TODO: icons here ...</p>
</div>
<p>&nbsp;</p>
<!-- social -->
<div id="social">
	<h1>Social networks</h1>
	<p>TODO: icons here ...</p>
</div>
<p>&nbsp;</p>
<!-- dividers -->
<div id="dividers">
	<h1>Dividers</h1>
	<p class="nospace color-primary fontsize-12">HR</p>
	<hr />
	<p class="nospace color-primary fontsize-12">Break</p>
	<div class="break"></div>
</div>
<p>&nbsp;</p>
<!-- paginator -->
<div id="paginator">
	<h1>Paginator</h1>
	<nav class="paginator">
		<ul>
			<li><a href="#">&larr; {% trans 'Previous' %}</a></li>
			<li class="active"><span>1</span></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li>...</li>
			<li><a href="#">124</a></li>
			<li><a href="#">{% trans 'Next' %} &rarr;</a></li>
		</ul>
	</nav>
</div>
<p>&nbsp;</p>
<!-- form -->
<div id="form">
	<h1>Form</h1>

	<form action="" method="get">
		<fieldset>
			<p class="nospace"><input type="text" placeholder="First name" /></p>
			<p class="nospace"><input type="text" placeholder="Last name" /></p>
			<p class="nospace"><select>
				<option>Switzerland</option>
				<option>Germany</option>
			</select></p>
		</fieldset>
	</form>

	<ul class="notification">
		<li class="title">Notification messages:</li>
		<li>The cake is a lie</li>
		<li>The cake is a lie</li>
	</ul>
	<ul class="warning">
		<li class="title">Warning messages:</li>
		<li>The cake is a lie</li>
		<li>The cake is a lie</li>
	</ul>
	<ul class="success">
		<li class="title">Success messages:</li>
		<li>The cake is a lie</li>
		<li>The cake is a lie</li>
	</ul>
	<ul class="error">
		<li class="title">Error messages:</li>
		<li>The cake is a lie</li>
		<li>The cake is a lie</li>
	</ul>

	<form action="" method="get">

		<fieldset>
			<legend>Inputs as siblings of labels (this is a form legend)</legend>
			<ol>
				<li><label for="id_text">Text input</label> <input type="text" id="id_text" value="default value that goes on and on without stopping or punctuation" /></li>
				<li><label for="id_email">Email input</label> <input type="email" id="id_email" /></li>
				<li><label for="id_search">Search input</label> <input type="search" id="id_search" /></li>
				<li><label for="id_tel">Tel input</label> <input type="tel" id="id_tel" /></li>
				<li><label for="id_url">URL input</label> <input type="url" id="id_url" placeholder="http://" /></li>
				<li><label for="id_password">Password input</label> <input type="password" id="id_password" value="password" /></li>
				<li><label for="id_file">File input</label> <input type="file" id="id_file" /></li>
				<li><label for="id_rad1">Radio input</label> <input type="radio" id="id_rad1" name="rad" /> <label for="id_rad2">Radio input</label> <input type="radio" id="id_rad2" name="rad" /></li>
				<li><label for="id_check1">Checkbox input</label> <input type="checkbox" id="id_check1" /></li>
				<li><input type="radio" id="id_rad3" name="rad" /> <label for="id_rad3">Radio input</label></li>
				<li><input type="checkbox" id="id_check2" /> <label for="id_check2">Checkbox input</label></li>
				<li><label for="id_select">Select field</label> <select id="id_select"><option>Option 01</option><option>Option 02</option></select></li>
				<li><label for="id_textarea">Textarea</label> <textarea cols="30" rows="5" id="id_textarea">Textarea text</textarea></li>
			</ol>
		</fieldset>

		<!-- use align-vertical or align-horizontal -->
		<fieldset class="align-horizontal">
			<legend>Inputs as siblings of labels wrapped in divs (vertical layout)</legend>
			<ol>
				<li>
					<label for="field_in">Number input</label>
					<div><input type="number" id="field_in" min="0" max="10" value="5" /></div>
				</li>
				<li>
					<label for="field_ir">Range input</label>
					<div><input type="range" id="field_ir" value="10" /></div>
				</li>
				<li>
					<label class="disabled">Radio input</label>
					<div>
						<input type="radio" id="field_rd1" name="title" /> <label for="field_rd1">Radio input</label>
						<input type="radio" id="field_rd2" name="title" /> <label for="field_rd2">Radio input</label>
					</div>
				</li>
				<li>
					<label class="disabled">Checkbox input</label>
					<div><label for="field_icb">Checkbox input</label> <input type="checkbox" id="field_icb" /></div>
				</li>
				<li>
					<label class="disabled">Radio input</label>
					<div><input type="radio" id="field_irb2" name="rad" /> <label for="field_irb2">Radio input</label></div>
				</li>
				<li>
					<label class="disabled">Checkbox input</label>
					<div><input type="checkbox" id="field_icb2" /> <label for="field_icb2">Checkbox input</label></div>
				</li>
				<li>
					<label for="field_s">Select field</label>
					<div>
						<select id="field_s">
							<option value="ch">Switzerland</option>
							<option value="jp">Japan</option>
							<option value="ca">Canada</option>
							<option value="de">Germany</option>
							<option value="at">Austria</option>
						</select>
					</div>
				</li>
				<li>
					<label for="field_t">Textarea</label>
					<div><textarea id="field_t" cols="30" rows="5" >Textarea text</textarea></div>
				</li>
			</ol>
		</fieldset>
	</form>
</div>
<p>&nbsp;</p>
</div>

<div class="grid_6 omega">
	<!-- colors -->
	<div id="colors">
		<h1>Colors</h1>
		<div class="clearfix">
			<div class="grid_2 alpha bg-primary-dark" style="height:60px;">&nbsp;</div>
			<div class="grid_4 omega"><h6 class="nospace">Primary dark</h6><p class="nospace fontsize-12">links hover</p></div>
		</div>
		<p class="nospace">&nbsp;</p>
		<div class="clearfix">
			<div class="grid_2 alpha bg-primary" style="height:60px;">&nbsp;</div>
			<div class="grid_4 omega"><h6 class="nospace">Primary</h6><p class="nospace fontsize-12">links</p></div>
		</div>
		<p class="nospace">&nbsp;</p>
		<div class="clearfix">
			<div class="grid_2 alpha bg-primary-light" style="height:60px;">&nbsp;</div>
			<div class="grid_4 omega"><h6 class="nospace">Primary light</h6><p class="nospace fontsize-12"></p></div>
		</div>
		<p class="nospace">&nbsp;</p>
		<div class="clearfix">
			<div class="grid_2 alpha bg-black" style="height:60px;">&nbsp;</div>
			<div class="grid_4 omega"><h6 class="nospace">Black</h6><p class="nospace fontsize-12"></p></div>
		</div>
		<p class="nospace">&nbsp;</p>
		<div class="clearfix">
			<div class="grid_2 alpha bg-grey-dark-super" style="height:60px;">&nbsp;</div>
			<div class="grid_4 omega"><h6 class="nospace">Grey dark super</h6><p class="nospace fontsize-12"></p></div>
		</div>
		<p class="nospace">&nbsp;</p>
		<div class="clearfix">
			<div class="grid_2 alpha bg-grey-dark" style="height:60px;">&nbsp;</div>
			<div class="grid_4 omega"><h6 class="nospace">Grey dark</h6><p class="nospace fontsize-12">titles</p></div>
		</div>
		<p class="nospace">&nbsp;</p>
		<div class="clearfix">
			<div class="grid_2 alpha bg-grey-dark-medium" style="height:60px;">&nbsp;</div>
			<div class="grid_4 omega"><h6 class="nospace">Grey dark medium</h6><p class="nospace fontsize-12">text</p></div>
		</div>
		<p class="nospace">&nbsp;</p>
		<div class="clearfix">
			<div class="grid_2 alpha bg-grey-light-medium" style="height:60px;">&nbsp;</div>
			<div class="grid_4 omega"><h6 class="nospace">Grey light medium</h6><p class="nospace fontsize-12"></p></div>
		</div>
		<p class="nospace">&nbsp;</p>
		<div class="clearfix">
			<div class="grid_2 alpha bg-grey-light" style="height:60px;">&nbsp;</div>
			<div class="grid_4 omega"><h6 class="nospace">Grey light</h6><p class="nospace fontsize-12"></p></div>
		</div>
		<p class="nospace">&nbsp;</p>
		<div class="clearfix">
			<div class="grid_2 alpha bg-grey-light-super" style="height:60px;">&nbsp;</div>
			<div class="grid_4 omega"><h6 class="nospace">Grey light super</h6><p class="nospace fontsize-12">base border</p></div>
		</div>
		<p class="nospace">&nbsp;</p>
		<div class="clearfix">
			<div class="grid_2 alpha bg-info" style="height:60px;">&nbsp;</div>
			<div class="grid_4 omega"><h6 class="nospace">Info</h6><p class="nospace fontsize-12"></p></div>
		</div>
		<p class="nospace">&nbsp;</p>
		<div class="clearfix">
			<div class="grid_2 alpha bg-error" style="height:60px;">&nbsp;</div>
			<div class="grid_4 omega"><h6 class="nospace">Error</h6><p class="nospace fontsize-12"></p></div>
		</div>
		<p class="nospace">&nbsp;</p>
		<div class="clearfix">
			<div class="grid_2 alpha bg-warning" style="height:60px;">&nbsp;</div>
			<div class="grid_4 omega"><h6 class="nospace">Warning</h6><p class="nospace fontsize-12"></p></div>
		</div>
		<p class="nospace">&nbsp;</p>
		<div class="clearfix">
			<div class="grid_2 alpha bg-success" style="height:60px;">&nbsp;</div>
			<div class="grid_4 omega"><h6 class="nospace">Success</h6><p class="nospace fontsize-12"></p></div>
		</div>
	</div>
	<p>&nbsp;</p>
	<!-- typography -->
	<div id="tyopgraphy">
		<h1>Semantics</h1>
		<p hidden>This should be hidden in all browsers, apart from IE6</p>
		<address>Address: somewhere, world</address>
		<p>
			The <a href="#">a element</a> example<br />
			The <abbr>abbr element</abbr> and <abbr title="Title text">abbr element with title</abbr> examples<br />
			The <b>b element</b> example<br />
			The <cite>cite element</cite> example<br />
			The <code>code element</code> example<br />
			The <del>del element</del> example<br />
			The <dfn>dfn element</dfn> and <dfn title="Title text">dfn element with title</dfn> examples<br />
			The <em>em element</em> example<br />
			The <i>i element</i> example<br />
			The img element <img src="{{ STATIC_URL }}img/dummy/apple.png" width="10" alt="" /> example<br />
			The <ins>ins element</ins> example<br />
			The <kbd>kbd element</kbd> example<br />
			The <mark>mark element</mark> example<br />
			The <q>q element <q>inside</q> a q element</q> example<br />
			The <s>s element</s> example<br />
			The <samp>samp element</samp> example<br />
			The <small>small element</small> example<br />
			The <span>span element</span> example<br />
			The <strong>strong element</strong> example<br />
			The <sub>sub element</sub> example<br />
			The <sup>sup element</sup> example<br />
			The <var>var element</var> example<br />
			The <u>u element</u> example<br />
			<strong>Link opening in new window: </strong>
			<a href="http://www.google.com" data-rel="target:blank">Link</a><br />
			<strong>Link opening as popup: </strong>
			<a href="http://www.google.com" class="popup">Open Pop-Up</a><br />
			<strong>E-Mail encryption: </strong>
			<a href="#info" data-rel="google.com" class="mailcrypte">E-Mail</a>
		</p>
		<!-- lists -->
		<h4>ordered list</h4>
		<ol>
			<li>list item 1</li>
			<li>list item 1
				<ol>
					<li>list item 2</li>
					<li>list item 2
						<ol>
							<li>list item 3</li>
							<li>list item 3</li>
						</ol>
					</li>
					<li>list item 2</li>
					<li>list item 2</li>
				</ol>
			</li>
			<li>list item 1</li>
			<li>list item 1</li>
		</ol>
		<h4>unordered list</h4>
		<ul>
			<li>list item 1</li>
			<li>list item 1
				<ul>
					<li>list item 2</li>
					<li>list item 2
						<ul>
							<li>list item 3</li>
							<li>list item 3</li>
						</ul>
					</li>
					<li>list item 2</li>
					<li>list item 2</li>
				</ul>
			</li>
			<li>list item 1</li>
			<li>list item 1</li>
		</ul>
	</div>

	<!-- media elements -->
	<div id="media">
		<h1>Embeds</h1>
		<h4>audio</h4>
		<audio controls style="width:220px"></audio>
		<p>&nbsp;</p>
		<h4>svg</h4>
		<svg width="100px" height="100px">
			<circle cx="100" cy="100" r="100" fill="#ff0000" />
		</svg>
		<p>&nbsp;</p>
		<h4>video</h4>
		<video controls style="width:220px"></video>
	</div>
</div>

<div class="grid_24 alpha omega">
	<!-- table -->
	<div id="table">
		<h1>Table</h1>
		<table>
			<caption>Base table structure caption</caption>
			<colgroup>
				<col style="width:25%;" />
				<col style="width:25%;" />
				<col style="width:25%;" />
				<col style="width:25%;" />
			</colgroup>
			<thead>
			<tr>
				<th>Row 1</th>
				<th>Row 2</th>
				<th>Row 3</th>
				<th>Row 4</th>
			</tr>
			</thead>
			<tfoot>
			<tr><td colspan="4">Footer Colspan 4</td></tr>
			</tfoot>
			<tbody>
			<tr>
				<td>Row 1 Cell 1</td>
				<td>Row 1 Cell 2</td>
				<td>Row 1 Cell 3</td>
				<td>Row 1 Cell 4</td>
			</tr>
			<tr>
				<td>Row 2 Cell 1</td>
				<td colspan="2">Row 2 Cell 2 Colspan 2</td>
				<td>Row 2 Cell 4</td>
			</tr>
			<tr>
				<td>Row 3 Cell 1</td>
				<td colspan="3">Row 3 Cell 2 Colspan 3</td>
			</tr>
			<tr>
				<td>Row 4 Cell 1</td>
				<td>Row 4 Cell 2</td>
				<td>Row 4 Cell 3</td>
				<td>Row 4 Cell 4</td>
			</tr>
			</tbody>
		</table>
	</div>
	<p>&nbsp;</p>
	<!-- grid -->
	<p>&nbsp;</p>
</div>
</div>
<!--
<input list="browsers">

			<datalist id="browsers">
				<option value="Internet Explorer">
				<option value="Firefox">
				<option value="Chrome">
				<option value="Opera">
				<option value="Safari">
			</datalist>
-->

<!-- end: master template -->