<section id="page-grid">
	<div class="grid-24">
		<h1>24 Column 960 Grid Example</h1>
		<hr />
	</div>
	<div class="clear"></div>

	<div class="container-24 clearfix">
		<div class="grid-24">
			<div class="gblocks gblocks-1 gblocks-active">
				<div class="gblock gba"></div><div class="gblock gbb"></div><div class="gblock gbc"></div><div class="gblock gbd"></div><div class="gblock gbe"></div><div class="gblock gbf"></div><div class="gblock gbg"></div><div class="gblock gbh"></div><div class="gblock gbi"></div><div class="gblock gbj"></div><div class="gblock gbk"></div><div class="gblock gbl"></div><div class="gblock gbm"></div>
			</div>
			<div class="gblocks gblocks-2">
				<div class="gblock gba"></div><div class="gblock gbb"></div><div class="gblock gbc"></div><div class="gblock gbd"></div>
			</div>
			<div class="gblocks gblocks-3">
				<div class="gblock gba"></div><div class="gblock gbb"></div><div class="gblock gbc"></div><div class="gblock gbd"></div><div class="gblock gbe"></div><div class="gblock gbf"></div>
			</div>
		</div>
	</div>

	<div class="container-24 gblock-grid relative clearfix">
		<div class="bggrid">
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
			<div></div><div></div><div></div><div></div>
		</div>
		<div class="grid grid-v grid-v-1">
			<div class="grid-8"><p>300 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="grid-8"><p>300 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="grid-8"><p>300 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="clear"></div>

			<div class="grid-16">
				<div class="grid-4 alpha"><p>140 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-4"><p>140 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-4"><p>140 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-4 omega"><p>140 <br /><span class="code"><code>{tpl}</code></span></p></div>

				<div class="grid-4 alpha"><p>140 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-4"><p>140 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-4"><p>140 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-4 omega"><p>140 <br /><span class="code"><code>{tpl}</code></span></p></div>

				<div class="grid-16 alpha omega"><p>620 <br /><span class="code"><code>{tpl}</code></span></p></div>
			</div>
			<div class="grid-8"><p style="height:370px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="clear"></div>
		</div>

		<div class="grid grid-v grid-v-2">
			<div class="grid-24"><p style="height:270px;">940 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="clear"></div>

			<div class="grid-8"><p style="height:200px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="grid-8"><p style="height:200px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="grid-8"><p style="height:200px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="clear"></div>
		</div>

		<div class="grid grid-v grid-v-3">
			<div class="grid-8"><p style="height:500px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="grid-16">
				<div class="grid-8 alpha"><p style="height:150px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-8 omega"><p style="height:150px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-8 alpha"><p style="height:150px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-8 omega"><p style="height:150px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-16 alpha omega"><p style="height:132px;">620 <br /><span class="code"><code>{tpl}</code></span></p></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>

</section>