<section id="page-index">
	<div class="grid-24">
		<h1>Online Styleguide</h1>
		<hr />
		<div class="grid-16 alpha">
			<p>The Online Styleguide is a uniformed compendium for project managers, web publisher, designers or
				developers of how to maintain, update or further develop a website. It gives an insight of formatting,
				use of space and components accross the online presence. It is devided into three essential parts:
				Typography, Components and Templates.
		</div>
		<div class="grid-8 omega">
			<h6><strong>Development params</strong></h6>
			<p class="devparams">
				<a href="?debug=true"><strong>debug=true</strong></a> <span>enables development tools</span>
				<a href="?mobile=true"><strong>mobile=true</strong></a> <span>enforces mobile switch</span>
			</p>
		</div>
	</div>
	<div class="clear"></div>

	<div class="grid-8 templatelist">
		<h2 class="halfspace">Category</h2>
		<p>1.01 <a href="#">Template Name</a> <span class="new">dev</span></p>
		<p>1.02 <a href="#">Template Name</a> <span class="new">dev</span></p>
		<p>1.03 <a href="#">Template Name</a> <span class="new">dev</span></p>
		<p>1.04 <a href="#">Template Name</a> <span class="new">dev</span></p>
		<p>1.05 <a href="#">Template Name</a> <span class="new">dev</span></p>
	</div>
	<div class="grid-8 templatelist">
		<h2 class="halfspace">Category</h2>
		<p>2.01 <a href="#">Template Name</a> <span class="ok">14.02</span></p>
		<p>2.02 <a href="#">Template Name</a> <span class="ok">14.02</span></p>
		<p>2.03 <a href="#">Template Name</a> <span class="ok">14.02</span></p>
		<p>2.04 <a href="#">Template Name</a> <span class="ok">14.02</span></p>
		<p>2.05 <a href="#">Template Name</a> <span class="ok">14.02</span></p>
	</div>
	<div class="grid-8 templatelist">
		<h2 class="halfspace">Category</h2>
		<p>3.01 <a href="#">Template Name</a></p>
		<p>3.02 <a href="#">Template Name</a></p>
		<p>3.03 <a href="#">Template Name</a></p>
		<p>3.04 <a href="#">Template Name</a></p>
		<p>3.05 <a href="#">Template Name</a></p>
	</div>
	<div class="clear"></div>

	<p class="padding-top">
		<span class="new">dev</span> = template in development, untested &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="ok">4.12</span> = template finished, tested &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span>no flag</span> = template finished, integrated
	</p>
</section>