<section id="page-tables">
	<div class="grid-24">
		<h1>Tables</h1>
		<hr />

		<h2>Standard table</h2>
		<table>
			<caption>Base table structure (caption)</caption>
			<colgroup>
				<col style="width:25%;" />
				<col style="width:25%;" />
				<col style="width:25%;" />
				<col style="width:25%;" />
			</colgroup>
			<thead>
			<tr>
				<th scope="col">Head 1</th>
				<th scope="col">Head 2</th>
				<th scope="col">Head 3</th>
				<th scope="col">Head 4</th>
			</tr>
			</thead>
			<tfoot>
			<tr><td colspan="4">Footer spans full size</td></tr>
			</tfoot>
			<tbody>
			<tr>
				<td>Row 1 Cell 1</td>
				<td>Row 1 Cell 2</td>
				<td>Row 1 Cell 3</td>
				<td>Row 1 Cell 4</td>
			</tr>
			<tr>
				<td>Row 2 Cell 1</td>
				<td>Row 2 Cell 2</td>
				<td>Row 2 Cell 3</td>
				<td>Row 2 Cell 4</td>
			</tr>
			<tr>
				<td>Row 3 Cell 1</td>
				<td>Row 3 Cell 2</td>
				<td>Row 3 Cell 3</td>
				<td>Row 3 Cell 4</td>
			</tr>
			<tr>
				<td>Row 4 Cell 1</td>
				<td>Row 4 Cell 2</td>
				<td>Row 4 Cell 3</td>
				<td>Row 4 Cell 4</td>
			</tr>
			</tbody>
		</table>
		<p><code>&lt;table>&lt;/table></code></p>

		<h2>Responsive table</h2>
		<table class="tbl tbl-responsive">
			<caption>Comprehensive table (caption)</caption>
			<colgroup>
				<col style="width:20%;" />
				<col style="width:20%;" />
				<col style="width:20%;" />
				<col style="width:20%;" />
				<col style="width:20%;" />
			</colgroup>
			<thead>
			<tr>
				<th scope="col">Head 1</th>
				<th scope="col">Head 2</th>
				<th scope="col">Head 3</th>
				<th scope="col">Head 4</th>
				<th scope="col">Head 5</th>
			</tr>
			</thead>
			<tfoot>
			<tr><td colspan="5">Footer spans full size</td></tr>
			</tfoot>
			<tbody>
			<tr>
				<th scope="col">Head 1 Cell 1</th>
				<td>Row 1 Cell 2</td>
				<td>Row 1 Cell 3</td>
				<td>Row 1 Cell 4</td>
				<td>Row 1 Cell 5</td>
			</tr>
			<tr>
				<th scope="col">Head 2 Cell 1</th>
				<td>Row 2 Cell 2</td>
				<td>Row 2 Cell 3</td>
				<td>Row 2 Cell 4</td>
				<td>Row 2 Cell 5</td>
			</tr>
			<tr>
				<th scope="col">Head 3 Cell 1</th>
				<td>Row 3 Cell 2</td>
				<td>Row 3 Cell 3</td>
				<td>Row 3 Cell 4</td>
				<td>Row 3 Cell 5</td>
			</tr>
			<tr>
				<th scope="col">Head 4 Cell 1</th>
				<td>Row 4 Cell 2</td>
				<td>Row 4 Cell 3</td>
				<td>Row 4 Cell 4</td>
				<td>Row 4 Cell 5</td>
			</tr>
			<tr>
				<th scope="col">Head 5 Cell 1</th>
				<td>Row 5 Cell 2</td>
				<td>Row 5 Cell 3</td>
				<td>Row 5 Cell 4</td>
				<td>Row 5 Cell 5</td>
			</tr>
			</tbody>
		</table>
		<p><code>&lt;table class="tbl tbl-responsive">&lt;/table></code></p>

		<div class="grid-12 alpha">
			<h2>Odd/Even</h2>
			<table class="tbl tbl-alternate">
				<thead>
				<tr>
					<th scope="col">Head</th>
				</tr>
				</thead>
				<tbody>
				<tr><td>Row 1</td></tr>
				<tr><td>Row 2</td></tr>
				<tr><td>Row 3</td></tr>
				</tbody>
			</table>
			<p><code>&lt;table class="tbl tbl-alternate">&lt;/table></code></p>
		</div>
		<div class="grid-12 omega">
			<h2>Empty</h2>
			<table class="tbl tbl-empty">
				<thead>
				<tr>
					<th scope="col">Head</th>
					<th scope="col">Head</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>Row 1 Cell 1</td>
					<td>Row 1 Cell 2</td>
				</tr>
				<tr>
					<td>Row 2 Cell 1</td>
					<td>Row 2 Cell 2</td>
				</tr>
				<tr>
					<td>Row 3 Cell 1</td>
					<td>Row 3 Cell 2</td>
				</tr>
				</tbody>
			</table>
			<p><code>&lt;table class="tbl tbl-empty">&lt;/table></code></p>
		</div>
	</div>
</section>