<section id="page-typography">
	<div class="grid-24">
		<h1>Typography</h1>
		<hr />
		<h2>Fonts, Sizes and Styles</h2>

		<div class="grid-12 alpha">
			<p class="nospace js-fonts"><span class="highlight">{tpl} Regular</span></p>
			<p class="font-size-20">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
				abcdefghijklmnopqrstuvwxyz<br />
				1234567890!@#$%^&amp;*()_+</p>
			<p class="nospace codeoffset"><code>&lt;p>My text&lt;/p></code></p>

			<p class="nospace js-fonts"><span class="highlight">{tpl} italic</span></p>
			<p class="font-size-20 pt-sans"><em>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
				abcdefghijklmnopqrstuvwxyz<br />
				1234567890!@#$%^&amp;*()_+</em></p>
			<p class="nospace codeoffset"><code>&lt;p>&lt;em>My text&lt;/em>&lt;/p></code></p>

			<p class="nospace js-fonts"><span class="highlight">{tpl} bold</span></p>
			<p class="font-size-20 pt-sans"><strong>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
				abcdefghijklmnopqrstuvwxyz<br />
				1234567890!@#$%^&amp;*()_+</strong></p>
			<p class="nospace codeoffset"><code>&lt;p>&lt;strong>My text&lt;/strong>&lt;/p></code></p>
		</div>
		<div class="grid-12 omega">
			<h1 class="nospace">H1 {tpl}</h1>
			<p><code>&lt;h1>My title&lt;/h6> or class="font-size-32"</code></p>
			<h2 class="nospace">H2 {tpl}</h2>
			<p><code>&lt;h2>My title&lt;/h6> or class="font-size-28"</code></p>
			<h3 class="nospace">H3 {tpl}</h3>
			<p><code>&lt;h3>My title&lt;/h6> or class="font-size-24"</code></p>
			<h4 class="nospace">H4 {tpl}</h4>
			<p><code>&lt;h4>My title&lt;/h6> or class="font-size-20"</code></p>
			<h5 class="nospace">H5 {tpl}</h5>
			<p><code>&lt;h5>My title&lt;/h6> or class="font-size-18"</code></p>
			<h6 class="nospace">H6 {tpl}</h6>
			<p><code>&lt;h6>My title&lt;/h6> or class="font-size-16"</code></p>
		</div>
		<div class="clear"></div>

		<p class="nospace">&nbsp;</p>

		<div class="grid-24 alpha omega">
			<h2>Inline Semantics</h2>
			<div class="grid-8 alpha">
				<div hidden="hidden" class="testikus">This should be hidden in all browsers, apart from IE6</div>
				<div class="nospace">The <a href="#">anchor</a> element
					<br /><code>&lt;a href="#">My text&lt;/a></code></div>
				<div class="nospace">The <abbr title="abbreviation">abbr</abbr> element
					<br /><code>&lt;abbr title="#">My text&lt;/abbr></code></div>
				<div class="nospace">The <b>bold</b> element
					<br /><code>&lt;b>My text&lt;/b></code></div>
				<div class="nospace">The <cite>cite</cite> element
					<br /><code>&lt;cite>My text&lt;/cite></code></div>
				<div class="nospace">The <code>code</code> element
					<br /><code>&lt;code>My text&lt;/code></code></div>
				<div class="nospace">The <del>delete</del> element
					<br /><code>&lt;del>My text&lt;/del></code></div>
				<div class="nospace">The <dfn>definition</dfn> element
					<br /><code>&lt;dfn>My text&lt;/dfn></code></div>
				<div class="nospace">The <em>emphasis</em> element
					<br /><code>&lt;em>My text&lt;/em></code></div>
			</div>
			<div class="grid-8">
				<div class="nospace">The <i>italic</i> element
					<br /><code>&lt;i>My text&lt;/i></code></div>
				<div class="nospace">The <ins>insert</ins> element
					<br /><code>&lt;ins>My text&lt;/ins></code></div>
				<div class="nospace">The <kbd>keyboard</kbd> element
					<br /><code>&lt;kbd>My text&lt;/kbd></code></div>
				<div class="nospace">The <mark>mark</mark> element
					<br /><code>&lt;mark>My text&lt;/mark></code></div>
				<div class="nospace">The <s>strikethrough</s> element
					<br /><code>&lt;s>My text&lt;/s></code></div>
				<div class="nospace">The <samp>sample</samp> element
					<br /><code>&lt;samp>My text&lt;/samp></code></div>
				<div class="nospace">The <small>small</small> element
					<br /><code>&lt;small>My text&lt;/small></code></div>
				<div class="nospace">The <span>span</span> element
					<br /><code>&lt;span>My text&lt;/span></code></div>
			</div>
			<div class="grid-8 omega">
				<div class="nospace">The <strong>strong</strong> element
					<br /><code>&lt;strong>My text&lt;/strong></code></div>
				<div class="nospace">The <sub>subscript</sub> element
					<br /><code>&lt;sub>My text&lt;/sub></code></div>
				<div class="nospace">The <sup>superscript</sup> element
					<br /><code>&lt;sup>My text&lt;/sup></code></div>
				<div class="nospace">The time <time>10:00</time> element
					<br /><code>&lt;time>My text&lt;/time></code></div>
				<div class="nospace">The <u>underline</u> element
					<br /><code>&lt;u>My text&lt;/u></code></div>
				<div class="nospace">The <var>variable</var> element
					<br /><code>&lt;var>My text&lt;/var></code></div>
				<p class="nospace">The <wbr>wordbreak<wbr> element
					<br /><code>&lt;wbr>My text&lt;wbr></code></p>
				<div class="nospace"><address>my address</address>
					<code>&lt;address>My text&lt;/address></code></div>
			</div>
			<div class="clear"></div>

			<p>&nbsp;</p>

			<h2>Block Semantics</h2>
			<div class="grid-8 alpha">
				<h3>Unordered List</h3>
				<ul>
					<li>Lorem ipsum dolor</li>
					<li>Consectetur adipiscing</li>
					<li>Integer molestie lorem</li>
					<li>
						Facilisis in pretium
						<ul>
							<li>Nulla volutpat aliquam</li>
							<li>Phasellus iaculis</li>
							<li>Purus sodales</li>
							<li>Vestibulum laoreet</li>
							<li>
								Facilisis in pretium
								<ul>
									<li><a href="#">Nulla volutpat aliquam</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>Faucibus porta lacu</li>
					<li>Aenean sit amet erat</li>
					<li>Eget porttitor</li>
				</ul>
				<p><code>&lt;ul>&lt;li>My text&lt;/li>&lt;/ul></code></p>
			</div>
			<div class="grid-8">
				<h3>Ordered List</h3>
				<ol>
					<li>Lorem ipsum dolor</li>
					<li>Consectetur adipiscing</li>
					<li>Integer molestie lorem</li>
					<li>
						Facilisis in pretium
						<ol>
							<li>Nulla volutpat aliquam</li>
							<li>Phasellus iaculis</li>
							<li>Purus sodales</li>
							<li>Vestibulum laoreet</li>
							<li>
								Facilisis in pretium
								<ol>
									<li><a href="#">Nulla volutpat aliquam</a></li>
								</ol>
							</li>
						</ol>
					</li>
					<li>Faucibus porta lacu</li>
					<li>Aenean sit amet erat</li>
					<li>Eget porttitor</li>
				</ol>
				<p><code>&lt;ol>&lt;li>My text&lt;/li>&lt;/ol></code></p>
			</div>
			<div class="grid-8 omega">
				<h3>Definition List</h3>
				<dl>
					<dt>Lorem</dt>
					<dd>- is simple dummy text used for typo</dd>
					<dt>Lorem</dt>
					<dd>- is simple dummy text used for typo</dd>
					<dt>Lorem</dt>
					<dd>- is simple dummy text used for typo</dd>
				</dl>
				<dl>
					<dt>Lorem</dt>
					<dd>- is simple dummy text used for typo</dd>
					<dt>Lorem</dt>
					<dd><a href="#">- is simple dummy text used for typo</a></dd>
				</dl>
				<p><code>&lt;dl>&lt;dd>My&lt;/dd>&lt;dt>- text&lt;/dt>&lt;/dl></code></p>
			</div>
			<div class="clear"></div>

			<div class="grid-12 alpha">
				<h3>Quotes</h3>
				<blockquote>
					<p>Government of the people, by the people, for the people, shall not perish from the Earth.
						<cite>Abraham Lincoln</cite>
					</p>
				</blockquote>
				<p><code>&lt;blockquote>&lt;p>My text &lt;cite>My cite&lt;/cite>&lt;/p>&lt;/blockquote></code></p>

				<p><q cite="Abraham%20Lincoln">Build a future where people live in harmony with nature.</q> We hope they succeed.</p>
				<p><code>&lt;p>&lt;q>My text&lt;/q> My cite&lt;/p></code></p>
			</div>
			<div class="grid-12 omega">
				<h3>Preformatting</h3>
	<pre>
	&lt;div>
		&lt;p>Sample text here...&lt;/p>
	&lt;/div>
	</pre>
				<p><code>&lt;pre>My text&lt;/pre></code></p>
			</div>
			<div class="clear"></div>

			<h3>Dividers</h3>
			<hr />
			<p class="nospace"><code>&lt;hr /></code></p>
			<div class="break"></div>
			<p class="nospace"><code>&lt;div class="break">&lt;/div></code></p>
		</div>
		<div class="clear"></div>

		<p class="nospace">&nbsp;</p>

		<div class="grid-24 alpha omega">
			<h2>Colors</h2>
			<div class="grid-12 alpha">
				<h3>Primary colors</h3>
				<div class="autocolor">#ff9100</div>
				<div class="autocolor">#4d4d4d</div>
			</div>
			<div class="grid-12 omega">
				<h3>Framework colors</h3>
				<div class="autocolor">#006699</div>
				<div class="autocolor">#d92400</div>
				<div class="autocolor">#e5d200</div>
				<div class="autocolor">#00cc00</div>

				<div class="autocolor">#333333</div>
				<div class="autocolor">#666666</div>
				<div class="autocolor">#999999</div>
				<div class="autocolor">#cccccc</div>
			</div>
		</div>

		<p>&nbsp;</p>

		<div class="grid-24 alpha omega">
			<h2>Textflow</h2>
			<p class="lead"><span class="highlight">Leadtext</span> Lorem Ipsum is simply dummy text of the printing
				and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
				when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			<p><code>&lt;p class="lead">My text&lt;/p></code></p>

			<h3>The Lorem Ipsum</h3>
			<p><code>&lt;h2>My title&lt;/h2></code></p>

			<div class="grid-12 alpha">
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
					classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
					professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
					consectetur.</p>
				<p><code>&lt;div class="grid-12 alpha">&lt;p>My text&lt;/p>&lt;/div></code></p>
			</div>
			<div class="grid-12 omega">
				<p>from a Lorem Ipsum passage, and going through the cites of the word in classical
					literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
					of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
					This book is a treatise on the theory of ethics, very popular during the Renaissance.</p>
				<p><code>&lt;div class="grid-12 omega">&lt;p>My text&lt;/p>&lt;/div></code></p>
			</div>

			<p class="img-left"><span class="fakeimage">100x100<br /><code>.img-left</code></span></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer semper egestas nunc in volutpat.
				Fusce adipiscing velit ac eros tempor iaculis. Phasellus venenatis mollis augue, non posuere odio
				placerat in. Etiam volutpat ultrices lectus. Fusce eu felis erat. Donec congue interdum elit,
				sed ornare magna convallis lacinia. In hac habitasse platea dictumst. Mauris volutpat consectetur
				accumsan.Cras diam justo, sodales quis lobortis sed, lobortis vel mauris. Sed a mollis nunc. Quisque semper
				condimentum lectus, eget laoreet ipsum auctor et. Quisque sagittis luctus augue, id fringilla enim
				euismod quis. Nullam blandit, elit at euismod rutrum, tortor nibh posuere mauris, in volutpat diam
				ante ac dui. Sed velit massa, imperdiet placerat tristique et, consectetur a lorem. Praesent aliquet
				turpis in quam tempor eu pulvinar nibh luctus.</p>

			<p class="img-right"><span class="fakeimage">100x100<br /><code>.img-left</code></span></p>
			<p>Lorem Ipsum is simply <strong>dummy text</strong> of the <em>printing</em> and <em>typesetting</em>
				industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
				<a href="#">unknown printer</a> took a galley of type and scrambled it to make a type
				<strong><em>specimen book</em></strong>. It has <del>survived</del> not only five centuries, but also the
				leap into electronic <span class="color-primary">typesetting</span>, remaining essentially unchanged.
				It was <ins>popularised</ins> in the 1960s with the release of Letraset sheets containing Lorem Ipsum
				passages, and more recently with <mark>desktop publishing</mark> software like Aldus PageMaker including
				versions of Lorem Ipsum.</p>
		</div>
	</div>
	<div class="clear"></div>
</section>