<section id="page-forms">

<div class="grid-24">
	<div class="styleguide-head">
		<h1>Forms</h1>
	</div>
</div>

<div class="grid-24">
	<div class="styleguide-body">
		<div class="col-2">
			<h2>Input Sizes</h2>
			<form action="." method="post" class="frm">
			<fieldset>
				<ol>
					<li>
					<label for="field-sizes-1">
						<span class="visuallyhidden">Screenreader text describing the field: sizes-1</span>
						<input type="text" class="input-text input-mini" id="field-sizes-1" placeholder="input-mini" />
					</label>
				</li>
				<li>
					<label for="field-sizes-2">
						<span class="visuallyhidden">Screenreader text describing the field: sizes-2</span>
						<input type="text" class="input-text input-small" id="field-sizes-2" placeholder="input-small" />
					</label>
				</li>
				<li>
					<label for="field-sizes-3">
						<span class="visuallyhidden">Screenreader text describing the field: sizes-3</span>
						<input type="text" class="input-text input-medium" id="field-sizes-3" placeholder="input-medium" />
					</label>
				</li>
				<li>
					<label for="field-sizes-4">
						<span class="visuallyhidden">Screenreader text describing the field: sizes-4</span>
						<input type="text" class="input-text" id="field-sizes-4" />
					</label>
				</li>
				<li>
					<label for="field-sizes-5">
						<span class="visuallyhidden">Screenreader text describing the field: sizes-5</span>
						<input type="text" class="input-text input-large" id="field-sizes-5" placeholder="input-large" />
					</label>
				</li>
				<li>
					<label for="field-sizes-6">
						<span class="visuallyhidden">Screenreader text describing the field: sizes-6</span>
						<input type="text" class="input-text input-block" id="field-sizes-6" placeholder="input-block" />
					</label>
				</li>
			</ol>
			</fieldset>
			</form>

			<h2>Radios / Checkboxes</h2>
			<form action="." method="post" class="frm">
				<fieldset>
					<legend>Group of elements</legend>
					<ol>
						<li>
							<label for="field-sizes-check-1">
							<input type="checkbox" class="input-radiocheck uniform" id="field-sizes-check-1" checked="checked" /> I read and agree to our terms and conditions
							</label>
						</li>
						<li>
							<label for="field-sizes-check-2">I read and agree to our terms and conditions
							<input type="checkbox" class="input-radiocheck uniform" id="field-sizes-check-2" checked="checked" />
							</label>
						</li>
						<li>
							<label for="field-sizes-check-3">
							<input type="radio" class="input-radiocheck uniform" id="field-sizes-check-3" checked="checked" /> I read and agree to our terms and conditions
							</label>
						</li>
						<li>
							<label for="field-sizes-check-4">I read and agree to our terms and conditions
							<input type="radio" class="input-radiocheck uniform" id="field-sizes-check-4" checked="checked" />
							</label>
						</li>
						<li class="inline">
							<label for="field-sizes-check-5">
							<input type="checkbox" class="input-radiocheck uniform" id="field-sizes-check-5" /> 1
							</label>
						</li>
						<li class="inline">
							<label for="field-sizes-check-6">
							<input type="checkbox" class="input-radiocheck uniform" id="field-sizes-check-6" /> 2
							</label>
						</li>
						<li class="inline">
							<label for="field-sizes-check-7">
							<input type="checkbox" class="input-radiocheck uniform" id="field-sizes-check-7" /> 3
							</label>
						</li>
						<li class="inline">
							<label for="field-sizes-check-8">
							<input type="radio" class="input-radiocheck uniform" id="field-sizes-check-8" /> A
							</label>
						</li>
						<li class="inline">
							<label for="field-sizes-check-9">
							<input type="radio" class="input-radiocheck uniform" id="field-sizes-check-9" /> B
							</label>
						</li>
						<li class="inline">
							<label for="field-sizes-check-10">
							<input type="radio" class="input-radiocheck uniform" id="field-sizes-check-10" /> C
							</label>
						</li>
						<li>
							<label for="field-sizes-check-11">
							<input type="checkbox" class="input-radiocheck uniform input-radiocheck-aligned" id="field-sizes-check-11" /> I Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</label>
						</li>
						<li>
							<label for="field-sizes-check-12">
							<input type="radio" class="input-radiocheck uniform input-radiocheck-aligned" id="field-sizes-check-12" /> I Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							</label>
						</li>
					</ol>
				</fieldset>
			</form>
		</div>
		<div class="col-2 col-padding">
			<h2>Supported Types</h2>
			<form action="." method="post" class="frm">
				<fieldset>
					<ol>
						<li>
							<label for="field-type-1">
								<span class="visuallyhidden">Screenreader text describing the field: type-1</span>
								<input type="email" class="input-text" id="field-type-1" placeholder="email" />
							</label>
						</li>
						<li>
							<label for="field-type-2">
								<span class="visuallyhidden">Screenreader text describing the field: type-2</span>
								<input type="file" class="input-text uniform" id="field-type-2" />
							</label>
						</li>
						<li>
							<label>
								<span class="visuallyhidden">Screenreader text describing the field: type-3</span>
								<input type="hidden" class="input-text" />
							</label>
						</li>
						<li>
							<label for="field-type-7">
								<span class="visuallyhidden">Screenreader text describing the field: type-7</span>
								<input type="password" class="input-text" id="field-type-7" placeholder="password" />
							</label>
						</li>
						<li>
							<label for="field-type-4">
								<span class="visuallyhidden">Screenreader text describing the field: type-4</span>
								<input type="search" class="input-text" id="field-type-4" placeholder="search" />
							</label>
						</li>
						<li>
							<label for="field-type-5">
								<span class="visuallyhidden">Screenreader text describing the field: type-5</span>
								<input type="tel" class="input-text" id="field-type-5" placeholder="tel" />
							</label>
						</li>
						<li>
							<label for="field-type-6">
								<span class="visuallyhidden">Screenreader text describing the field: type-6</span>
								<input type="text" class="input-text" id="field-type-6" placeholder="text" />
							</label>
						</li>
						<li>
							<label for="field-type-8">
								<span class="visuallyhidden">Screenreader text describing the field: type-8</span>
								<textarea class="input-textarea" id="field-type-8" rows="5"></textarea>
							</label>
						</li>
						<li>
							<label for="field-type-9">
								<span class="visuallyhidden">Screenreader text describing the field: type-9</span>
								<select class="input-select uniform" id="field-type-9">
									<option value="">Bitte auswählen</option>
									<option value="1">Switzerland</option>
									<option value="2">Germany</option>
									<option value="3">Austria</option>
									<option value="4">Canada</option>
									<option value="5">Japan</option>
									<option value="6">USA</option>
								</select>
							</label>
						</li>
						<li>
							<label for="field-type-10">
								<span class="visuallyhidden">Screenreader text describing the field: type-10</span>
								<select class="input-select uniform" id="field-type-10">
									<option value="">Bitte auswählen</option>
									<optgroup label="Schnellhilfe">
										<option value="1">Switzerland</option>
										<option value="2">Germany</option>
										<option value="3">Austria</option>
									</optgroup>
									<optgroup label="Alle Länder">
										<option value="1">Canada</option>
										<option value="2">Japan</option>
										<option value="3">USA</option>
									</optgroup>
								</select>
							</label>
						</li>
					</ol>
				</fieldset>
			</form>
		</div>
		<div class="col-2">
			<h2>Unsopported Types</h2>
			<form action="." method="post" class="frm">
				<fieldset>
					<ol>
						<li>
							<label for="field-type-20">
								<span class="visuallyhidden">Screenreader text describing the field: type-20</span>
								<input type="color" class="input-text" id="field-type-20" />
							</label>
						</li>
						<li>
							<label for="field-type-21">
								<span class="visuallyhidden">Screenreader text describing the field: type-21</span>
								<input type="date" class="input-text" id="field-type-21" />
							</label>
						</li>
						<li>
							<label for="field-type-22">
								<span class="visuallyhidden">Screenreader text describing the field: type-22</span>
								<input type="datetime" class="input-text" id="field-type-22" />
							</label>
						</li>
						<li>
							<label for="field-type-23">
								<span class="visuallyhidden">Screenreader text describing the field: type-23</span>
								<input type="datetime-local" class="input-text" id="field-type-23" />
							</label>
						</li>
						<li>
							<label for="field-type-24">
								<span class="visuallyhidden">Screenreader text describing the field: type-24</span>
								<input type="month" class="input-text" id="field-type-24" />
							</label>
						</li>
						<li>
							<label for="field-type-25">
								<span class="visuallyhidden">Screenreader text describing the field: type-25</span>
								<input type="number" class="input-text" id="field-type-25" />
							</label>
						</li>
						<li>
							<label for="field-type-26">
								<span class="visuallyhidden">Screenreader text describing the field: type-26</span>
								<input type="range" class="input-text" id="field-type-26" />
							</label>
						</li>
						<li>
							<label for="field-type-27">
								<span class="visuallyhidden">Screenreader text describing the field: type-27</span>
								<input type="time" class="input-text" id="field-type-27" />
							</label>
						</li>
						<li>
							<label for="field-type-28">
								<span class="visuallyhidden">Screenreader text describing the field: type-28</span>
								<input type="url" class="input-text" id="field-type-28" />
							</label>
						</li>
						<li>
							<label for="field-type-29">
								<span class="visuallyhidden">Screenreader text describing the field: type-29</span>
								<input type="week" class="input-text" id="field-type-29" />
							</label>
						</li>
					</ol>
				</fieldset>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="grid-24">
	<div class="styleguide-body">
		<div class="col-3">
			<h2>Vertical Form <code>.frm-vertical</code></h2>
			<form action="." method="post" class="frm nospace">
				<fieldset class="frm-vertical">
					<ol class="nospace">
						<li>
							<label for="field-vertical-1">E-mail<abbr title="obligatorisches Eingabefeld">*</abbr></label>
							<div class="field"><input type="text" class="input-text" id="field-vertical-1" required="required" /> </div>
						</li>
						<li>
							<label for="field-vertical-2">Password<abbr title="obligatorisches Eingabefeld">*</abbr></label>
							<div class="field"><input type="password" class="input-text" id="field-vertical-2" required="required" /></div>
						</li>
						<li>
							<label class="empty"><span class="visuallyhidden">Weiter zu</span></label>
							<div class="field"><label for="field-vertical-3"><input type="checkbox" class="input-radiocheck uniform" id="field-vertical-3" /> Remember me</label></div>
						</li>
						<li>
							<label class="empty"><span class="visuallyhidden">Weiter zu</span>&nbsp;</label>
							<div class="field"><input type="submit" class="btn btn-blue" id="field-vertical-4" value="Sign In" /></div>
						</li>
					</ol>
				</fieldset>
			</form>
		</div>
		<div class="col-3">
			<h2>Horizontal Form <code>.frm-horizontal</code></h2>
			<form action="." method="post" class="frm nospace">
				<fieldset class="frm-horizontal">
					<ol class="nospace">
						<li>
							<label for="field-vertical-11">E-mail<abbr title="obligatorisches Eingabefeld">*</abbr></label>
							<div class="field"><input type="text" class="input-text" id="field-vertical-11" required="required" /></div>
						</li>
						<li>
							<label for="field-vertical-12">Password<abbr title="obligatorisches Eingabefeld">*</abbr></label>
							<div class="field"><input type="password" class="input-text" id="field-vertical-12" required="required" /></div>
						</li>
						<li>
							<label class="empty"><span class="visuallyhidden">Weiter zu</span></label>
							<div class="field"><label for="field-vertical-13"><input type="checkbox" class="input-radiocheck uniform" id="field-vertical-13" /> Remember me</label></div>
						</li>
						<li>
							<label class="empty"><span class="visuallyhidden">Weiter zu</span>&nbsp;</label>
							<div class="field"><input type="submit" class="btn btn-blue" id="field-vertical-14" value="Sign In" /></div>
						</li>
					</ol>
				</fieldset>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="grid-24">
	<div class="styleguide-body">
		<h2>Buttons</h2>
		<form action="." method="post" class="frm column">
			<fieldset>
				<ol>
					<li>
						<label><input type="submit" class="btn" value="Input" /></label>
						<label><button class="btn">Button</button></label>
						<label><a href="#" class="btn">Link</a></label>

						<div class="spacer"></div>

						<label><a href="#" class="btn btn-blue">.btn-blue</a></label>
						<label><a href="#" class="btn btn-green">.btn-green</a></label>
						<label><a href="#" class="btn btn-dark">.btn-dark</a></label>
					</li>
				</ol>
				<ol class="col-2">
					<li>
						<h3>Anchor</h3>
						<div><label><a href="#" class="btn">.btn</a></label></div>
						<div><label><a href="#" class="btn btn-small">.btn-small</a></label></div>
						<div><label><a href="#" class="btn btn-large">.btn-large</a></label></div>
					</li>
				</ol>
				<ol class="col-2">
					<li>
						<h3>Submit</h3>
						<div><label><input type="submit" class="btn" value=".btn" /></label></div>
						<div><label><input type="submit" class="btn btn-small" value=".btn-small" /></label></div>
						<div><label><input type="submit" class="btn btn-large" value=".btn-large" /></label></div>
						<div><label><span class="visuallyhidden">Diese Aktion ist zurzeit deaktiviert: </span><input type="submit" class="btn btn-disabled" value=".btn-disabled" disabled="disabled" /></label></div>
					</li>
				</ol>
				<ol class="col-2">
					<li>
						<h3>Button</h3>
						<div><label><button class="btn">.btn</button></label></div>
						<div><label><button class="btn btn-small">.btn-small</button></label></div>
						<div><label><button class="btn btn-large">.btn-large</button></label></div>
						<div><label><span class="visuallyhidden">Diese Aktion ist zurzeit deaktiviert: </span><button class="btn btn-disabled" disabled="disabled">.btn-disabled</button></label></div>
					</li>
				</ol>
			</fieldset>
		</form>
	</div>
</div>

<div class="grid-24">
	<div class="styleguide-body">
		<h2>Messages <code>.messages</code></h2>

		<div class="col-3">
			<div class="messages message-success">
				<span class="icon icon-success"></span>
				<h3 class="text-success">True <code>.message-success</code></h3>
				<p>This is a success message</p>
			</div>

			<div class="messages message-error">
				<span class="icon icon-error"></span>
				<h3 class="text-error">True <code>.message-error</code></h3>
				<p>This is an error message</p>
			</div>

			<div class="messages message-muted">
				<span class="icon icon-muted"></span>
				<h3 class="text-muted">True <code>.message-muted</code></h3>
				<p>This is an muted message</p>
			</div>
		</div>

		<div class="col-3">
			<div class="messages message-info">
				<span class="icon icon-info"></span>
				<h3 class="text-info">True <code>.message-info</code></h3>
				<p>This is an info message</p>
			</div>

			<div class="messages message-warning">
				<span class="icon icon-warning"></span>
				<h3 class="text-warning">True <code>.message-warning</code></h3>
				<p>This is a warning message</p>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

</section>