{% load i18n sekizai_tags %}
{% addtoblock "css" %}
<style>
.tbl-mcres div { color:#468c44; padding:2px 5px; background:#e0f2d8; }
.tbl-mcres th { background:#fff; }
.tbl-mcres thead th span { display:block; color:#999; font-size:80%; }

.tbl-mcres .tblv { color:#468c44; background:#e0f2d8; }
.tbl-mcres .tblh { color:#ccc; background:#f9f9f9; }

.fakimage { height:40px; padding:15px 0 0; text-align:center; background:#ccc; display:inline-block; }
.no-js #page-helpers .no-js { display:none; }
</style>
{% endaddtoblock "css" %}
{% addtoblock "js" %}
<script>
jQuery(document).ready(function ($) {

});
</script>
{% endaddtoblock "js" %}

<section id="page-helpers">
	<div class="grid-24">
		<h1>Helpers</h1>
		<hr />

		<h2>General</h2>
		<table class="tbl">
			<colgroup>
				<col style="width:20%;" />
				<col style="width:30%;" />
				<col style="width:50%;" />
			</colgroup>
			<thead>
			<tr>
				<th><strong>Class</strong></th>
				<th><strong>Preview</strong></th>
				<th><strong>Description</strong></th>
			</tr>
			</thead>
			<tbody>

			<tr><th colspan="3"><strong>Style</strong></th></tr>
			<tr>
				<td><code>.bold</code></td>
				<td><span class="bold">Example Text</span></td>
				<td>sets the text-style to bold</td>
			</tr>
			<tr>
				<td><code>.italic</code></td>
				<td><span class="italic">Example Text</span></td>
				<td>sets the text-style to italic</td>
			</tr>
			<tr>
				<td><code>.text-muted</code></td>
				<td><span class="text-muted">Example Text</span></td>
				<td>sets the text color to muted state</td>
			</tr>
			<tr>
				<td><code>.text-info</code></td>
				<td><span class="text-info">Example Text</span></td>
				<td>sets the text color to info state</td>
			</tr>
			<tr>
				<td><code>.text-success</code></td>
				<td><span class="text-success">Example Text</span></td>
				<td>sets the text color to success state</td>
			</tr>
			<tr>
				<td><code>.text-warning</code></td>
				<td><span class="text-warning">Example Text</span></td>
				<td>sets the text color to warning state</td>
			</tr>
			<tr>
				<td><code>.text-error</code></td>
				<td><span class="text-error">Example Text</span></td>
				<td>sets the text color to error state</td>
			</tr>
			<tr>
				<td><code>.lead</code></td>
				<td><div class="lead">Example Text</div></td>
				<td>sets the text as lead</td>
			</tr>
			<tr>
				<td><code>.legal</code></td>
				<td><div class="legal">Example Text</div></td>
				<td>sets the text as legal (usually smaller)</td>
			</tr>
			<tr>
				<td><code>.uppercase</code></td>
				<td><div class="uppercase">Example Text</div></td>
				<td>sets the text-transformation to uppercase</td>
			</tr>
			<tr>
				<td><code>.lowercase</code></td>
				<td><div class="lowercase">Example Text</div></td>
				<td>sets the text-transformation to lowercase</td>
			</tr>

			<tr><th colspan="3"><strong>Alignment</strong></th></tr>
			<tr>
				<td><code>.align-left</code></td>
				<td><p class="align-left nospace">Example Text</p></td>
				<td>sets the text-alignment to left</td>
			</tr>
			<tr>
				<td><code>.align-right</code></td>
				<td><p class="align-right nospace">Example Text</p></td>
				<td>sets the text-alignment to right</td>
			</tr>
			<tr>
				<td><code>.align-center</code></td>
				<td><p class="align-center nospace">Example Text</p></td>
				<td>sets the text-alignment to center</td>
			</tr>
			<tr>
				<td><code>.align-top</code></td>
				<td class="align-top" style="height:40px;">Example Text</td>
				<td>sets the vertical-alignment to top</td>
			</tr>
			<tr>
				<td><code>.align-bottom</code></td>
				<td class="align-bottom" style="height:40px;">Example Text</td>
				<td>sets the vertical-alignment to bottom</td>
			</tr>

			<tr><th colspan="3"><strong>Floating</strong></th></tr>
			<tr>
				<td><code>.left</code>, <code>.float-left</code></td>
				<td><span class="left">Example Text</span></td>
				<td>floats an element left, forces float</td>
			</tr>
			<tr>
				<td><code>.right</code>, <code>.float-right</code></td>
				<td><span class="right">Example Text</span></td>
				<td>floats an element right, forces float</td>
			</tr>
			<tr>
				<td><code>.no-float</code></td>
				<td><span class="no-float">Example Text</span></td>
				<td>removes floating from an element</td>
			</tr>
			<tr>
				<td><code>.clearfix</code></td>
				<td><span class="clearfix">Example Text</span></td>
				<td>sets clearing to an element</td>
			</tr>
			<tr>
				<td><code>.clear</code></td>
				<td><span class="clear">Example Text</span></td>
				<td>sets clearing to an element</td>
			</tr>

			<tr><th colspan="3"><strong>Images</strong></th></tr>
			<tr>
				<td><code>.img</code></td>
				<td><span class="img"><span class="fakimage">40x40</span></span></td>
				<td>sets the max width of an image to 100%</td>
			</tr>
			<tr>
				<td><code>.img-left</code></td>
				<td><span class="img-left"><span class="fakimage">40x40</span></span></td>
				<td>sets the image-alignment to left and adds padding</td>
			</tr>
			<tr>
				<td><code>.img-right</code></td>
				<td><span class="img-right"><span class="fakimage">40x40</span></span></td>
				<td>sets the image-alignment to right and adds padding</td>
			</tr>

			<tr><th colspan="3"><strong>Spacing</strong></th></tr>
			<tr>
				<td><code>.halfspace</code></td>
				<td><p class="halfspace">Example Text</p></td>
				<td>sets the bottom margin to half of its origin value</td>
			</tr>
			<tr>
				<td><code>.nospace</code></td>
				<td><p class="nospace">Example Text</p></td>
				<td>sets the bottom margin to zero</td>
			</tr>
			<tr>
				<td><code>.break</code></td>
				<td><div class="break">Example Text</div></td>
				<td>class equivalent to the &gt;hr /> tag</td>
			</tr>

			<tr><th colspan="3"><strong>Behaviour</strong></th></tr>
			<tr>
				<td><code>.nowrap</code></td>
				<td><div class="nowrap">Example Text</div></td>
				<td>disallows text breaks</td>
			</tr>
			<tr>
				<td><code>.offset</code></td>
				<td><div class="offset">Example Text</div></td>
				<td>sets the text visibility to offset</td>
			</tr>
			<tr>
				<td><code>.disable</code>, <code>.disabled</code></td>
				<td><div class="disable">Example Text</div></td>
				<td>adds disabled behaviour to applied element</td>
			</tr>
			<tr>
				<td><code>.inline</code></td>
				<td><span class="inline">Example Text</span></td>
				<td>forces the element to be inline</td>
			</tr>
			<tr>
				<td><code>.block</code></td>
				<td><span class="block">Example Text</span></td>
				<td>forces the element to be a block</td>
			</tr>
			<tr>
				<td><code>.relative</code></td>
				<td><span class="relative">Example Text</span></td>
				<td>forces the element to be relative positioned</td>
			</tr>
			<tr>
				<td><code>.hidden</code></td>
				<td><span class="hidden">Example Text</span></td>
				<td>forces the element to be hidden</td>
			</tr>
			<tr>
				<td><code>.visuallyhidden</code></td>
				<td><span class="visuallyhidden">Example Text</span></td>
				<td>forces the element to be hidden but readable by screenreaders</td>
			</tr>

			<tr><th colspan="3"><strong>Support</strong></th></tr>
			<tr>
				<td><code>.print</code></td>
				<td><span class="print">Example Text</span></td>
				<td>sets the element to be visible only print</td>
			</tr>
			<tr>
				<td><code>.no-print</code></td>
				<td><span class="no-print">Example Text</span></td>
				<td>sets the element to be visible only on screen</td>
			</tr>
			<tr>
				<td><code>.no-js</code></td>
				<td><span class="no-js">Example Text</span></td>
				<td>this class will be removed if javascript is enabled</td>
			</tr>
			</tbody>
		</table>

		<p class="nospace">&nbsp;</p>

		<h2>Responsive</h2>
		<table class="tbl-mcres">
			<colgroup>
				<col style="width:20%;" />
				<col style="width:25%;" />
				<col style="width:25%;" />
				<col style="width:25%;" />
			</colgroup>
			<thead>
				<tr>
					<th class="align-bottom">Class</th>
					<th>Phones <span>520px and below</span></th>
					<th>Tablet <span>520px to 860px</span></th>
					<th>Desktop <span>Default</span></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th><code>.visible-phone</code></th>
					<td class="tblv">Visible</td>
					<td class="tblh">Hidden</td>
					<td class="tblh">Hidden</td>
				</tr>
				<tr>
					<th><code>.visible-tablet</code></th>
					<td class="tblh">Hidden</td>
					<td class="tblv">Visible</td>
					<td class="tblh">Hidden</td>
				</tr>
				<tr>
					<th><code>.visible-desktop</code></th>
					<td class="tblh">Hidden</td>
					<td class="tblh">Hidden</td>
					<td class="tblv">Visible</td>
				</tr>
				<tr>
					<th><code>.hidden-phone</code></th>
					<td class="tblh">Hidden</td>
					<td class="tblv">Visible</td>
					<td class="tblv">Visible</td>
				</tr>
				<tr>
					<th><code>.hidden-tablet</code></th>
					<td class="tblv">Visible</td>
					<td class="tblh">Hidden</td>
					<td class="tblv">Visible</td>
				</tr>
				<tr>
					<th><code>.hidden-desktop</code></th>
					<td class="tblv">Visible</td>
					<td class="tblv">Visible</td>
					<td class="tblh">Hidden</td>
				</tr>
			</tbody>
		</table>

		<p class="nospace">&nbsp;</p>

		<h1>JavaScript</h1>
		<div class="grid-12 alpha">
			<table class="tbl-empty">
				<tr>
					<td><strong>Link opening as popup:</strong></td>
					<td><a href="http://www.google.com" class="popup">Open Pop-Up</a></td>
				</tr>
				<tr>
					<td><strong>E-Mail encryption:</strong></td>
					<td><a href="#info" data-rel="google.com" class="mailcrypte">E-Mail</a></td>
				</tr>
			</table>
		</div>
		<div class="grid-12 omega">&nbsp;</div>
	</div>
</section>