<section id="page-icons">
	<div class="grid-24">
		<h1>Icons</h1>
		<hr />

		<h2>Text Icons <code>.icon</code></h2>
		<ul class="iconlist">
			<li>
				<span class="icon icon-arrow-left">Arrow left</span><br />
				<code>.icon-arrow-left</code>
			</li>
			<li>
				<span class="icon icon-reverse icon-arrow-right">Arrow right</span><br />
				<code>.icon-reverse icon-arrow-right</code>
			</li>
			<li>
				<span class="icon icon-expand">Expand</span><br />
				<code>.icon-expand</code>
			</li>
			<li>
				<span class="icon icon-collapse">Collapse</span><br />
				<code>.icon-collapse</code>
			</li>
			<li>
				<span class="icon icon-info">Info</span><br />
				<code>.icon-info</code>
			</li>
			<li>
				<span class="icon icon-question">Question</span><br />
				<code>.icon-question</code>
			</li>
			<li>
				<span class="icon icon-download">Download</span><br />
				<code>.icon-download</code>
			</li>
			<li>
				<span class="icon icon-print">Print</span><br />
				<code>.icon-print</code>
			</li>
		</ul>
		<div class="clear"></div>

		<hr />

		<h2>Button Icons <code>.icon</code></h2>
		<ul class="iconlist">
			<li>
				<a href="#" class="btn btn-small"><span class="icon icon-info">My action</span></a><br />
				<code>.icon-info</code>
			</li>
			<li>
				<a href="#" class="btn"><span class="icon icon-info">My action</span></a><br />
				<code>.icon-info</code>
			</li>
			<li>
				<a href="#" class="btn btn-large"><span class="icon icon-info">My action</span></a><br />
				<code>.icon-info</code>
			</li>
		</ul>
		<div class="clear"></div>

		<hr />

		<h2>Single Icons <code>.icon-single</code></h2>
		<ul class="iconlist">
			<li>
				<span class="icon-single icon-info"></span><br />
				<code>.icon-info</code>
			</li>
			<li>
				<span class="icon-single icon-question"></span><br />
				<code>.icon-question</code>
			</li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</section>