{% load i18n sekizai_tags %}
{% addtoblock "css" %}
<style>
.gblock-grid { min-height:500px; }
.gblock-grid p { color:#fff; padding:5px 10px; background:#069; opacity:0.5; height:100px; }
.gblock-grid .grid { position:relative; z-index:10; }

.bggrid { position:absolute; left:0; top:0; z-index:1; width:100%; }
.bggrid div { float:left; width:20px; height:525px; margin:0 10px; background:#069; opacity:0.1; }

.gblocks { float:left; cursor:pointer; width:120px; height:96px; padding:4px 2px 0; margin:0 25px 25px 0;
	border:1px solid #ccc; border-radius:5px; }
.gblocks:hover { border:1px solid #999; box-shadow:0 0 5px #ccc; }
.gblocks-active { border:1px solid #999; }
.gblocks-active .gblock { opacity:1; }

.gblock { float:left; height:20px; margin:0 2px 4px; background:#069; opacity:0.5; }
.gblocks-1 .gba, .gblocks-1 .gbb, .gblocks-1 .gbc { width:36px; }
.gblocks-1 .gbd { float:right; width:36px; height:68px; }
.gblocks-1 .gbe, .gblocks-1 .gbf, .gblocks-1 .gbg, .gblocks-1 .gbh { width:16px; }
.gblocks-1 .gbi, .gblocks-1 .gbj, .gblocks-1 .gbk, .gblocks-1 .gbl { width:16px; }
.gblocks-1 .gbm { width:76px; }

.gblocks-2 .gba { width:116px; height:50px; }
.gblocks-2 .gbb { width:36px; height:38px; }
.gblocks-2 .gbc { width:36px; height:38px; }
.gblocks-2 .gbd { width:36px; height:38px; }

.gblocks-3 .gba { width:36px; height:92px; }
.gblocks-3 .gbb { width:36px; height:30px; }
.gblocks-3 .gbc { width:36px; height:30px; }
.gblocks-3 .gbd { width:36px; height:30px; }
.gblocks-3 .gbe { width:36px; height:30px; }
.gblocks-3 .gbf { width:76px; height:24px; }

@media screen and (min-width: 520px)
	and (max-width: 860px) {
	.bggrid div { margin:0 5px; }
}
</style>
{% endaddtoblock "css" %}
{% addtoblock "js" %}
<script>
jQuery(document).ready(function ($) {
	var triggers = $('#page-grid .gblocks');
		triggers.bind('click', function () {
			triggers.removeClass('gblocks-active');
			$(this).addClass('gblocks-active');

			$('.grid-v').hide();
			$('.grid-v-' + (triggers.index(this) + 1)).fadeIn(300);
		});
		// activate first grid
		triggers.eq(0).trigger('click');

	// autoset code classes
	var codes = $('#page-grid .code');
		codes.each(function (index, item) {
			var cls = $(item).parent().parent().attr('class');
			$(item).find('code').text(cls);
		});
});
</script>
{% endaddtoblock "js" %}

<section id="page-grid">
	<div class="grid-24">
		<h1>24 Column 960 Grid Example</h1>
		<hr />
	</div>
	<div class="clear"></div>

	<div class="container-24 clearfix">
		<div class="grid-24">
			<div class="gblocks gblocks-1 gblocks-active">
				{% for index in "abcdefghijklm"|make_list %}<div class="gblock gb{{ index }}"></div>{% endfor %}
			</div>
			<div class="gblocks gblocks-2">
				{% for index in "abcd"|make_list %}<div class="gblock gb{{ index }}"></div>{% endfor %}
			</div>
			<div class="gblocks gblocks-3">
				{% for index in "abcdef"|make_list %}<div class="gblock gb{{ index }}"></div>{% endfor %}
			</div>
		</div>
	</div>

	<div class="container-24 gblock-grid relative clearfix">
		<div class="bggrid">{% for index in "iiiiiiiiiiiiiiiiiiiiiiii"|make_list %}<div></div>{% endfor %}</div>
		<div class="grid grid-v grid-v-1">
			<div class="grid-8"><p>300 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="grid-8"><p>300 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="grid-8"><p>300 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="clear"></div>

			<div class="grid-16">
				<div class="grid-4 alpha"><p>140 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-4"><p>140 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-4"><p>140 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-4 omega"><p>140 <br /><span class="code"><code>{tpl}</code></span></p></div>

				<div class="grid-4 alpha"><p>140 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-4"><p>140 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-4"><p>140 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-4 omega"><p>140 <br /><span class="code"><code>{tpl}</code></span></p></div>

				<div class="grid-16 alpha omega"><p>620 <br /><span class="code"><code>{tpl}</code></span></p></div>
			</div>
			<div class="grid-8"><p style="height:370px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="clear"></div>
		</div>

		<div class="grid grid-v grid-v-2">
			<div class="grid-24"><p style="height:270px;">940 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="clear"></div>

			<div class="grid-8"><p style="height:200px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="grid-8"><p style="height:200px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="grid-8"><p style="height:200px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="clear"></div>
		</div>

		<div class="grid grid-v grid-v-3">
			<div class="grid-8"><p style="height:500px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
			<div class="grid-16">
				<div class="grid-8 alpha"><p style="height:150px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-8 omega"><p style="height:150px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-8 alpha"><p style="height:150px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-8 omega"><p style="height:150px;">300 <br /><span class="code"><code>{tpl}</code></span></p></div>
				<div class="grid-16 alpha omega"><p style="height:132px;">620 <br /><span class="code"><code>{tpl}</code></span></p></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>

</section>