{% load i18n sekizai_tags %}
{% addtoblock "css" %}
<style>

</style>
{% endaddtoblock "css" %}
{% addtoblock "js" %}
<script>
jQuery(document).ready(function ($) {

});
</script>
{% endaddtoblock "js" %}

<section id="page-components">
	<div class="grid-24">
		<h1>Components</h1>
		<hr />

		<div class="grid-16 alpha">
			<h2>Page Navigation</h2>
			<p><code>&lt;nav class="pagenav">&lt;ol>&lt;li>...&lt;/li>&lt;/ol>&lt;/nav></code></p>
			<nav class="pagenav">
				<ol>{% include "divio_styleguide/components/pagenav.html" %}</ol>
			</nav>
		</div>
		<div class="grid-8 omega">
			<h2>Boxes</h2>
			<p><code>&lt;div class="box">&lt;p>Text here&lt;/p>&lt;/div></code></p>
			<div class="box">
				<p>Text here</p>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</section>