<div class="code-container text-center">
    <ul class="pagination">
        <li class="disabled"><a href="#">«</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">»</a></li>
    </ul>

    <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>

    <ul class="pager">
        <li class="previous disabled"><a href="#"><span class="icon icon-arrow-left"></span> Older</a></li>
        <li class="next"><a href="#">Newer <span class="icon icon-arrow-right"></span></a></li>
    </ul>
</div>