
<div class="row">
    <div class="col-md-12">
        <h4>Basic</h4>
        <div class="code-container">
            <div class="progress">
                <div class="progress-bar" style="width: 40%;"></div>
            </div>
        </div>

        <h4>Striped</h4>
        <div class="code-container">
            <div class="progress progress-striped">
                <div class="progress-bar" style="width: 60%"></div>
            </div>
        </div>

        <h4>Animated</h4>
        <div class="code-container">
            <div class="progress progress-striped active">
                <div class="progress-bar" style="width: 80%"></div>
            </div>
        </div>

        <h4>Stacked</h4>
        <div class="code-container">
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 40%"></div>
                <div class="progress-bar progress-bar-warning" style="width: 30%"></div>
                <div class="progress-bar progress-bar-danger" style="width: 20%"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h4>Contextual alternatives</h4>
        <div class="code-container">
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: 20%"></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 40%"></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
            </div>
        </div>
    </div>
</div>