<section class="styleguide-section" id="page-index">
	<div class="styleguide-body">
		{% include "divio_styleguide/styleguide/index.html" %}
	</div>
</section>

<section class="styleguide-section" id="page-typography">
	<div class="styleguide-body">
		{% include "divio_styleguide/styleguide/typography.html" %}
	</div>
</section>

<section class="styleguide-section" id="page-tables">
	<div class="styleguide-body">
		{% include "divio_styleguide/styleguide/tables.html" %}
	</div>
</section>

<section class="styleguide-section" id="page-forms">
	<div class="styleguide-body">
		{% include "divio_styleguide/styleguide/forms.html" %}
	</div>
</section>

<section class="styleguide-section" id="page-icons">
	<div class="styleguide-body">
		{% include "divio_styleguide/styleguide/icons.html" %}
	</div>
</section>

<section class="styleguide-section" id="page-grid">
	<div class="styleguide-body">
		{% include "divio_styleguide/styleguide/grid.html" %}
	</div>
</section>

<section class="styleguide-section" id="page-utilities">
	<div class="styleguide-body">
		{% include "divio_styleguide/styleguide/utilities.html" %}
	</div>
</section>

<section class="styleguide-section" id="page-modules">
	<div class="styleguide-body">
		{% include "divio_styleguide/styleguide/modules.html" %}
	</div>
</section>