<h3>Primary colors</h3>
<div class="autocolor color-primary">#</div>
<div class="autocolor color-secondary">#</div>
<div class="clear"></div>

<h3>Framework colors</h3>
<div class="autocolor text-muted">#</div>
<div class="autocolor text-info">#</div>
<div class="autocolor text-success">#</div>
<div class="autocolor text-warning">#</div>
<div class="autocolor text-error">#</div>
<div class="clear"></div>

{# you can also write the hex code directly into the div <div class="autocolor">#ff0000</div> #}