<p>Forms us the base class <code>.form</code> for default styling. If not supplied,
	the default <a href="http://necolas.github.io/normalize.css/" target="_blank">normalize.css</a> behaviours will be used.
	Our forms use a basic structure which is applied for all cases.
	We are using placeholders within the styleguide to keep the examples clean.
</p>

<h2 id="part-form-structure">Structure</h2>
<pre class="code"><code>&lt;form action="." method="post" class="form" role="form">
    &lt;fieldset>
        &lt;ol>
            &lt;li> {placeholder} &lt;/li>
            &lt;li> {placeholder} &lt;/li>
            &lt;li> {placeholder} &lt;/li>
        &lt;/ol>
    &lt;/fieldset>
&lt;/form>
</code></pre>

<hr />

<h2 id="part-form-alignment">Alignment</h2>
<form action="." method="post" class="form" role="form">
	<fieldset class="col width-5">
		<legend>Sizes</legend>
		<ol>
			<li><label><input type="text" class="input-text input-mini" placeholder="input-mini" /></label></li>
			<li><label><input type="text" class="input-text input-small" placeholder="input-small" /></label></li>
			<li><label><input type="text" class="input-text input-medium" placeholder="input-medium" /></label></li>
			<li><label><input type="text" class="input-text" /></label></li>
			<li><label><input type="text" class="input-text input-large" placeholder="input-large" /></label></li>
			<li><label><input type="text" class="input-text input-block" placeholder="input-block" /></label></li>
		</ol>
	</fieldset>
	<fieldset class="col width-5 width-last">
		<legend>Positioning</legend>
		<ol>
			<li><label><input type="checkbox" class="input-radiocheck uniform" checked="checked" /> I read and agree to our terms and conditions</label></li>
			<li><label>I read and agree to our terms and conditions <input type="radio" class="input-radiocheck uniform" checked="checked" /></label></li>
			<li class="inline"><label><input type="checkbox" class="input-radiocheck uniform" /> 1</label> &nbsp; </li>
			<li class="inline"><label><input type="checkbox" class="input-radiocheck uniform" /> 2</label> &nbsp; </li>
			<li class="inline"><label><input type="checkbox" class="input-radiocheck uniform" /> 3</label> &nbsp; </li>
			<li class="inline"><label><input type="radio" class="input-radiocheck uniform" /> A</label> &nbsp; </li>
			<li class="inline"><label><input type="radio" class="input-radiocheck uniform" /> B</label> &nbsp; </li>
			<li class="inline"><label><input type="radio" class="input-radiocheck uniform" /> C</label> &nbsp; </li>
			<li><label class="input-aligned"><input type="checkbox" class="input-radiocheck uniform" /> I Lorem Ipsum is simply dummy text of the printing and typesetting industry.</label></li>
			<li><label class="input-aligned"><input type="radio" class="input-radiocheck uniform" /> I Lorem Ipsum is simply dummy text of the printing and typesetting industry.</label></li>
		</ol>
	</fieldset>
</form>
<div class="clear"></div>
<pre class="code"><code>&lt;label>&lt;input type="text" class="input-text input-medium" />&lt;/label>
&lt;label>&lt;input type="checkbox" class="input-radiocheck" /> text&lt;/label>
</code></pre>

<hr />

<h2 id="part-form-types">Types</h2>
<form action="." method="post" class="form" role="form">
	<fieldset class="col width-5">
		<legend>Supported</legend>
		<ol>
			<li><label><input type="email" class="input-text" placeholder="email" /></label></li>
			<li><label><input type="file" class="input-text uniform" /></label></li>
			<li><label><input type="hidden" class="input-text" /></label></li>
			<li><label><input type="password" class="input-text" placeholder="password" /></label></li>
			<li><label><input type="search" class="input-text" placeholder="search" /></label></li>
			<li><label><input type="tel" class="input-text" placeholder="tel" /></label></li>
			<li><label><input type="text" class="input-text" placeholder="text" /></label></li>
			<li><label><textarea class="input-textarea" rows="5"></textarea></label></li>
			<li>
				<label>
					<select class="input-select uniform">
						<option value="">Bitte auswählen</option>
						<option value="1">Switzerland</option>
						<option value="2">Germany</option>
						<option value="3">Austria</option>
						<option value="4">Canada</option>
						<option value="5">Japan</option>
						<option value="6">USA</option>
					</select>
				</label>
			</li>
			<li>
				<label>
					<select class="input-select uniform">
						<option value="">Bitte auswählen</option>
						<optgroup label="Schnellhilfe">
							<option value="1">Switzerland</option>
							<option value="2">Germany</option>
							<option value="3">Austria</option>
						</optgroup>
						<optgroup label="Alle Länder">
							<option value="1">Canada</option>
							<option value="2">Japan</option>
							<option value="3">USA</option>
						</optgroup>
					</select>
				</label>
			</li>
		</ol>
	</fieldset>
	<fieldset class="col width-5 width-last">
		<legend>Unsupported</legend>
		<ol>
			<li><label><input type="color" class="input-text" /></label></li>
			<li><label><input type="date" class="input-text" /></label></li>
			<li><label><input type="datetime" class="input-text" /></label></li>
			<li><label><input type="datetime-local" class="input-text" /></label></li>
			<li><label><input type="month" class="input-text" /></label></li>
			<li><label><input type="number" class="input-text" /></label></li>
			<li><label><input type="range" class="input-text" /></label></li>
			<li><label><input type="time" class="input-text" /></label></li>
			<li><label><input type="url" class="input-text" /></label></li>
			<li><label><input type="week" class="input-text" /></label></li>
		</ol>
	</fieldset>
</form>
<div class="clear"></div>

<hr />

<h2 id="part-form-vertical">Vertical Form</h2>
<form action="." method="post" class="form" role="form">
	<fieldset class="form-vertical">
		<ol>
			<li>
				<label for="field-vertical-1">E-mail<abbr title="obligatorisches Eingabefeld">*</abbr></label>
				<div class="field"><input type="text" class="input-text" id="field-vertical-1" required="required" /> </div>
			</li>
			<li>
				<label for="field-vertical-2">Password<abbr title="obligatorisches Eingabefeld">*</abbr></label>
				<div class="field"><input type="password" class="input-text" id="field-vertical-2" required="required" /></div>
			</li>
			<li>
				<label hidden="hidden"><span class="visuallyhidden">Weiter zu</span></label>
				<div class="field"><label for="field-vertical-3"><input type="checkbox" class="input-radiocheck uniform" id="field-vertical-3" /> Remember me</label></div>
			</li>
			<li>
				<label hidden="hidden"><span class="visuallyhidden">Weiter zu</span>&nbsp;</label>
				<div class="field"><input type="submit" class="btn btn-blue" value="Sign In" /></div>
			</li>
		</ol>
	</fieldset>
</form>
<pre class="code"><code>&lt;form action="." method="post" class="form" role="form">
    &lt;fieldset class="form-vertical">
        ...
    &lt;/fieldset>
&lt;/form>
</code></pre>

<hr />

<h2 id="part-form-horizontal">Horizontal Form</h2>
<form action="." method="post" class="form" role="form">
	<fieldset class="form-horizontal">
		<ol>
			<li>
				<label for="field-vertical-11">E-mail<abbr title="obligatorisches Eingabefeld">*</abbr></label>
				<div class="field"><input type="text" class="input-text" id="field-vertical-11" required="required" /></div>
			</li>
			<li>
				<label for="field-vertical-12">Password<abbr title="obligatorisches Eingabefeld">*</abbr></label>
				<div class="field"><input type="password" class="input-text" id="field-vertical-12" required="required" /></div>
			</li>
			<li>
				<label><span class="visuallyhidden">Weiter zu</span></label>
				<div class="field"><label for="field-vertical-13"><input type="checkbox" class="input-radiocheck uniform" id="field-vertical-13" /> Remember me</label></div>
			</li>
			<li>
				<label><span class="visuallyhidden">Weiter zu</span>&nbsp;</label>
				<div class="field"><input type="submit" class="btn btn-blue" value="Sign In" /></div>
			</li>
		</ol>
	</fieldset>
</form>
<pre class="code"><code>&lt;form action="." method="post" class="form" role="form">
    &lt;fieldset class="form-horizontal">
        ...
    &lt;/fieldset>
&lt;/form>
</code></pre>

<hr />

<h2 id="part-validation">Validation</h2>
<form action="." method="post" class="form form-error" role="form">
	<div class="messages text-error">
		<p>There was an error while submitting the form:</p>
	</div>
	<fieldset>
		<ol>
			<li class="text-error">
				<label for="field-vertical-21">E-mail<abbr title="obligatorisches Eingabefeld">*</abbr></label>
				<div class="field"><input type="text" class="input-text" id="field-vertical-21" required="required" /></div>
			</li>
			<li class="text-error">
				<label for="field-vertical-22">Password<abbr title="obligatorisches Eingabefeld">*</abbr></label>
				<div class="field"><input type="password" class="input-text" id="field-vertical-22" required="required" /></div>
			</li>
			<li class="text-error">
				<label><span class="visuallyhidden">Weiter zu</span></label>
				<div class="field"><label for="field-vertical-23"><input type="checkbox" class="input-radiocheck uniform" id="field-vertical-23" /> Remember me</label></div>
			</li>
			<li class="text-error">
				<label hidden="hidden"><span class="visuallyhidden">Weiter zu</span>&nbsp;</label>
				<div class="field"><input type="submit" class="btn btn-blue" value="Sign In" /></div>
			</li>
		</ol>
	</fieldset>
</form>
<pre class="code"><code>&lt;form action="." method="post" class="form form-error" role="form">
    &lt;fieldset>
        &lt;ol>
            &lt;li class="text-error"> ... &lt;/li>
        &lt;/ol>
    &lt;/fieldset>
&lt;/form>
</code></pre>

<hr />

<h2 id="part-buttons">Buttons</h2>
<form action="." method="post" class="form" role="form">
	<fieldset>
		<ol>
			<li>
				<label><input type="submit" class="btn" value="Input" /></label>
				<label><button class="btn">Button</button></label>
				<label><a href="#" class="btn">Link</a></label>
				<div class="space"></div>
				<label><a href="#" class="btn btn-blue">.btn-blue</a></label>
				<label><a href="#" class="btn btn-green">.btn-green</a></label>
				<label><a href="#" class="btn btn-dark">.btn-dark</a></label>
			</li>
		</ol>
	</fieldset>
	<fieldset>
		<ol class="col width-3">
			<li><h3>Anchor</h3></li>
			<li><label><a href="#" class="btn">.btn</a></label></li>
			<li><label><a href="#" class="btn btn-small">.btn-small</a></label></li>
			<li><label><a href="#" class="btn btn-large">.btn-large</a></label></li>
		</ol>
		<ol class="col width-3">
			<li><h3>Submit</h3></li>
			<li><label><input type="submit" class="btn" value=".btn" /></label></li>
			<li><label><input type="submit" class="btn btn-small" value=".btn-small" /></label></li>
			<li><label><input type="submit" class="btn btn-large" value=".btn-large" /></label></li>
			<li><label><span class="visuallyhidden">Diese Aktion ist zurzeit deaktiviert: </span><input type="submit" class="btn btn-disabled" value=".btn-disabled" disabled="disabled" /></label></li>
		</ol>
		<ol class="col width-3 width-last">
			<li><h3>Button</h3></li>
			<li><label><button class="btn">.btn</button></label></li>
			<li><label><button class="btn btn-small">.btn-small</button></label></li>
			<li><label><button class="btn btn-large">.btn-large</button></label></li>
			<li><label><span class="visuallyhidden">Diese Aktion ist zurzeit deaktiviert: </span><button class="btn btn-disabled" disabled="disabled">.btn-disabled</button></label></li>
		</ol>
	</fieldset>
</form>
<pre class="code"><code>&lt;input type="submit" class="btn" value="Input" />
&lt;button class="btn">Button&lt;/button>
&lt;a href="#" class="btn">Link&lt;/a>
</code></pre>

<hr />

<h2 id="part-messages">Messages</h2>
<div class="col width-5">
	<div class="messages text-success">
		<p>This is a success message</p>
	</div>

	<div class="messages text-error">
		<p>This is an error message</p>
	</div>

	<div class="messages text-muted">
		<p>This is an muted message</p>
	</div>
</div>
<div class="col width-5 width-last">
	<div class="messages text-info">
		<p>This is an info message</p>
	</div>

	<div class="messages text-warning">
		<p>This is a warning message</p>
	</div>
</div>
<div class="clear"></div>
<pre class="code"><code>&lt;div class="messages text-success">
    &lt;p> ... &lt;/p>
&lt;/div>
</code></pre>
<p>Add the text classes <code>.text-muted</code>, <code>text-success</code>, <code>text-info</code>,
	<code>text-warning</code> and <code>text-error</code> for custom styles.</p>

<hr />

<h2 id="part-form-utilities">Utilities</h2>
<p class="nospace"><code>.input-text</code> – sets additional input styling</p>
<hr class="small" />
<p class="nospace"><code>.input-select</code> – sets additional select styling</p>
<hr class="small" />
<p class="nospace"><code>.input-radiocheck</code> – sets additional radio and checkbox styling</p>
<hr class="small" />
<p class="nospace"><code>.input-aligned</code> – aligns radio/checkbox text (see cat. alignment)</p>

{# this renders the information panel on the left #}
<div class="styleguide-hint">
	{% include "divio_styleguide/includes/codeview.html" %}

	<h3>Categories</h3>
	<ul class="categories">
		<li><a href="#part-form-structure">Structure</a></li>
		<li><a href="#part-form-alignment">Alignment</a></li>
		<li><a href="#part-form-types">Types</a></li>
		<li><a href="#part-form-vertical">Vertical Form</a></li>
		<li><a href="#part-form-horizontal">Horizontal Form</a></li>
		<li><a href="#part-validation">Validation</a></li>
		<li><a href="#part-buttons">Buttons</a></li>
		<li><a href="#part-messages">Messages</a></li>
		<li><a href="#part-form-utilities">Utilities</a></li>
	</ul>
</div>