<p>We are using <a href="http://fontastic.me/" target="_blank">fontastic.me</a> as a font service to generate our fontpacks.<br />
The fonts are saved within <em>static/fonts/icons.*</em> and integrated witin <em>sass/modules/fonts.scss</em>.
</p>

<h2 id="part-icons-standard">Standard Icons</h2>
<div class="styleguide-example">
	<ul class="iconlist">
		<li><span class="icon icon-info"><br />.icon-<br />info</span></li>
		<li><span class="icon icon-question"><br />.icon-<br />question</span></li>
		<li><span class="icon icon-warning"><br />.icon-<br />warning</span></li>
		<li><span class="icon icon-accept"><br />.icon-<br />accept</span></li>
		<li><span class="icon icon-deny"><br />.icon-<br />deny</span></li>
		<li><span class="icon icon-arrow-top"><br />.icon-<br />arrow-top</span></li>
		<li><span class="icon icon-arrow-right"><br />.icon-<br />arrow-right</span></li>
		<li><span class="icon icon-arrow-bottom"><br />.icon-<br />arrow-bottom</span></li>
		<li><span class="icon icon-arrow-left"><br />.icon-<br />arrow-left</span></li>
	</ul>
</div>
<div class="clear"></div>
<pre class="code"><code>&lt;!-- normal icons -->
&lt;span class="icon icon-{name}">&lt;/span>
</code></pre>

{# this renders the information panel on the left #}
<div class="styleguide-hint">
	{% include "divio_styleguide/includes/codeview.html" %}

	<h3>Categories</h3>
	<ul class="categories">
		<li><a href="#part-icons-standard">Standard Icons</a></li>
	</ul>
</div>