{% load url from future %}

<h2>Custom Templates</h2>
<p>The Online Styleguide is a uniformed compendium for project managers, web publisher, designers or
	developers of how to maintain, update or further develop a website. The following browsers are supported:<br />
	<strong>Google Chrome</strong>*, <strong>Firefox</strong>*, <strong>Safari</strong>, <strong>Internet Explorer 8+</strong> <small class="float-right">* latest 3 iterations</small></p>

<div class="col width-5 templatelist">
	<h3>Homepage</h3>
	<p>1.01 <a href="{% url "divio_styleguide_template" "home" %}">Homepage</a> <span class="dev">dev</span></p>
	<p>1.02 Content</p>
	<p>1.03 Team</p>
	<p>1.04 Contact</p>
	<p>1.05 404</p>
</div>
<div class="col width-5 width-last templatelist">
	<h3>Shop</h3>
	<p>2.01 Homepage</p>
	<p>2.02 Products</p>
	<p>2.03 Checkout - Step 1</p>
	<p>2.04 Checkout - Step 2</p>
	<p>2.05 Checkout - Step 3</p>
</div>

{# this renders the information panel on the left #}
<div class="styleguide-hint">
	<h3>Development</h3>
	<p>you can enable the following params by appending the name to the url</p>
	<p>?<strong>debug=true</strong><br /><span>enables development tools</span></p>
	{# <p>?<strong>classic=true</strong><br /><span>disables responsive layout</span></p> #}

	<div class="space"></div>

	<h3>Legend</h3>
	<p><span class="dev">dev</span><br />template is in development and untested</p>
	<p><span class="outdated">outdated</span><br />template is no longer in development and is outdated</p>
	<p><span class="ready">04.12.03</span><br />template is finished or updated according to the specified date</p>
</div>