<p>This section defines default css styling and html behaviours available through
	<a href="http://necolas.github.io/normalize.css/" target="_blank">normalize.css</a>, a library which
	renders all elements more consistently and in line with modern standards.
	The following elements can be safely used within a <abbr title="What you see is what you get">wysiwyg</abbr> text editor.</p>

<h2 id="part-fonts">Fonts</h2>
<div class="col width-5">
	<p class="js-fonts nospace"><span class="highlight">{tpl} Regular</span></p>
	<p>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
		abcdefghijklmnopqrstuvwxyz<br />
		1234567890!@#$%^&amp;*()_+</p>
</div>
<div class="col width-5">
	<p class="js-fonts nospace"><span class="highlight">{tpl} italic</span></p>
	<p><em>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
		abcdefghijklmnopqrstuvwxyz<br />
		1234567890!@#$%^&amp;*()_+</em></p>
</div>
<div class="col width-5">
	<p class="js-fonts nospace"><span class="highlight">{tpl} bold</span></p>
	<p><strong>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
		abcdefghijklmnopqrstuvwxyz<br />
		1234567890!@#$%^&amp;*()_+</strong></p>
</div>
<div class="clear"></div>

<hr />

<h2 id="part-headings">Headings</h2>
<h1>h1. {tpl}</h1>
<h2>h2. {tpl}</h2>
<h3>h3. {tpl}</h3>
<h4>h4. {tpl}</h4>
<h5>h5. {tpl}</h5>
<h6>h6. {tpl}</h6>
<pre class="code"><code>&lt;!-- h1 - h6 -->
&lt;h1> ... &lt;/h1></code></pre>

<hr />

<h2 id="part-text">Text</h2>
<h3>Regular Text</h3>
<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes,
	nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non
	metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
	elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus.
	Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
<pre class="code"><code>&lt;p> ... &lt;/p></code></pre>

<h3>Lead Text</h3>
<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
<pre class="code"><code>&lt;p class="lead"> ... &lt;/p></code></pre>

<h3>Legal Text</h3>
<p class="legal">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes,
	nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.<br />
	Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non
	metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
	elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
<pre class="code"><code>&lt;p class="legal"> ... &lt;/p></code></pre>

<h3>Text sizes</h3>
<p class="size-16">This is a paragraph text</p>
<p class="size-18">This is a paragraph text</p>
<p class="size-20">This is a paragraph text</p>
<p class="size-24">This is a paragraph text</p>
<p class="size-28">This is a paragraph text</p>
<p class="size-32">This is a paragraph text</p>
<pre class="code"><code>&lt;p class="size-16"> ... &lt;/p>
&lt;p class="size-18"> ... &lt;/p>
&lt;p class="size-20"> ... &lt;/p>
&lt;p class="size-24"> ... &lt;/p>
&lt;p class="size-28"> ... &lt;/p>
&lt;p class="size-32"> ... &lt;/p>
</code></pre>

<hr />

<h2 id="part-emphasis">Emphasis</h2>
<div class="col width-3 emphasis">
	The <a href="#">anchor</a> element<br />
	<pre class="code"><code>&lt;a href="#">My text&lt;/a></code></pre>
	The <abbr title="abbreviation">abbr</abbr> element<br />
	<pre class="code"><code>&lt;abbr title="#">TXT&lt;/abbr></code></pre>
	The <cite>cite</cite> element<br />
	<pre class="code"><code>&lt;cite>My text&lt;/cite></code></pre>
	The <code>code</code> element<br />
	<pre class="code"><code>&lt;code>My text&lt;/code></code></pre>
	The <del>delete</del> element<br />
	<pre class="code"><code>&lt;del>My text&lt;/del></code></pre>
	The <dfn>definition</dfn> element<br />
	<pre class="code"><code>&lt;dfn>My text&lt;/dfn></code></pre>
	The <em>emphasis</em> element<br />
	<pre class="code"><code>&lt;em>My text&lt;/em></code></pre>
</div>
<div class="col width-3 emphasis">
	The <ins>insert</ins> element<br />
	<pre class="code"><code>&lt;ins>My text&lt;/ins></code></pre>
	The <kbd>keyboard</kbd> element<br />
	<pre class="code"><code>&lt;kbd>My text&lt;/kbd></code></pre>
	The <mark>mark</mark> element<br />
	<pre class="code"><code>&lt;mark>My text&lt;/mark></code></pre>
	The <s>strikethrough</s> element<br />
	<pre class="code"><code>&lt;s>My text&lt;/s></code></pre>
	The <samp>sample</samp> element<br />
	<pre class="code"><code>&lt;samp>My text&lt;/samp></code></pre>
	The <small>small</small> element<br />
	<pre class="code"><code>&lt;small>My text&lt;/small></code></pre>
	The <span>span</span> element<br />
	<pre class="code"><code>&lt;span>My text&lt;/span></code></pre>
</div>
<div class="col width-3 emphasis">
	The <strong>strong</strong> element<br />
	<pre class="code"><code>&lt;strong>My text&lt;/strong></code></pre>
	The <sub>subscript</sub> element<br />
	<pre class="code"><code>&lt;sub>My text&lt;/sub></code></pre>
	The <sup>superscript</sup> element<br />
	<pre class="code"><code>&lt;sup>My text&lt;/sup></code></pre>
	The time <time>10:00</time> element<br />
	<pre class="code"><code>&lt;time>My text&lt;/time></code></pre>
	The <u>underline</u> element<br />
	<pre class="code"><code>&lt;u>My text&lt;/u></code></pre>
	The <var>variable</var> element<br />
	<pre class="code"><code>&lt;var>My text&lt;/var></code></pre>
	The <wbr>wordbreak<wbr> element<br />
	<pre class="code"><code>&lt;wbr>My text&lt;wbr></code></pre>
	<address>my address</address>
	<pre class="code"><code>&lt;address>My text&lt;/address></code></pre>
</div>
<div class="clear"></div>

<hr />

<h2 id="part-alignment">Alignment</h2>
<h3>Text</h3>
<p class="text-left nospace">Left aligned text</p>
<p class="text-center nospace">Center aligned text</p>
<p class="text-right nospace">Right aligned text</p>
<pre class="code"><code>&lt;p class="text-left">Left aligned text&lt;/p>
&lt;p class="text-center">Center aligned text&lt;/p>
&lt;p class="text-right">Right aligned text&lt;/p>
</code></pre>

<h3>Images</h3>
<p>
	<img data-src="holder.js/150x50" src="." alt="" class="image-left" />
	<img data-src="holder.js/150x50" src="." alt="" class="image-right" />
</p>
<div class="clear"></div>
<p><img data-src="holder.js/720x50" src="." alt="" class="image-responsive" /></p>
<pre class="code"><code>&lt;p>&lt;img src="#" alt="" class="image-left" />&lt;/p>
&lt;p>&lt;img src="#" alt="" class="image-right" />&lt;/p>
&lt;p>&lt;img src="#" alt="" class="image-responsive" />&lt;/p>
</code></pre>

<hr />

<h2 id="part-lists">Lists</h2>
<div class="col width-5">
	<h3>Unordered List</h3>
	<ul>
		<li>Lorem ipsum dolor</li>
		<li>Consectetur adipiscing</li>
		<li>Integer molestie lorem</li>
		<li>
			Facilisis in pretium
			<ul>
				<li>Nulla volutpat aliquam</li>
				<li>Phasellus iaculis</li>
				<li>Purus sodales</li>
				<li>Vestibulum laoreet</li>
				<li>
					Facilisis in pretium
					<ul>
						<li><a href="#">Nulla volutpat aliquam</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li>Faucibus porta lacu</li>
		<li>Aenean sit amet erat</li>
		<li>Eget porttitor</li>
	</ul>
<pre class="code code-offset"><code>&lt;ul>
    &lt;li> ... &lt;/li>
&lt;/ul></code></pre>
</div>
<div class="col width-5">
	<h3>Ordered List</h3>
	<ol>
		<li>Lorem ipsum dolor</li>
		<li>Consectetur adipiscing</li>
		<li>Integer molestie lorem</li>
		<li>
			Facilisis in pretium
			<ol>
				<li>Nulla volutpat aliquam</li>
				<li>Phasellus iaculis</li>
				<li>Purus sodales</li>
				<li>Vestibulum laoreet</li>
				<li>
					Facilisis in pretium
					<ol>
						<li><a href="#">Nulla volutpat aliquam</a></li>
					</ol>
				</li>
			</ol>
		</li>
		<li>Faucibus porta lacu</li>
		<li>Aenean sit amet erat</li>
		<li>Eget porttitor</li>
	</ol>
<pre class="code"><code>&lt;ol>
    &lt;li> ... &lt;/li>
&lt;/ol></code></pre>
</div>
<div class="clear"></div>

<h3>Description List</h3>
<dl>
	<dt>Description</dt>
	<dd>A description list is perfect for defining terms.</dd>
	<dt>Euismod</dt>
	<dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.<br />
		Donec id elit non mi porta gravida at eget metus.</dd>
	<dt>Malesuada porta</dt>
	<dd>Etiam porta sem malesuada magna mollis euismod.</dd>
</dl>
<pre class="code"><code>&lt;dl>
    &lt;dt> ... &lt;/dt>
    &lt;dd> ... &lt;/dd>
&lt;/dl></code></pre>

<hr />

<h2 id="part-other">Others</h2>
<h3>Quotes</h3>
<blockquote>
	<p>Government of the people, by the people, for the people, shall not perish from the Earth.</p>
	<cite>Abraham Lincoln</cite>
</blockquote>
<pre class="code"><code>&lt;blockquote>
    &lt;p>My text&lt;/p>
    &lt;cite>My cite&lt;/cite>
&lt;/blockquote></code></pre>

<p><q cite="Abraham%20Lincoln">Build a future where people live in harmony with nature.</q> <cite>– We hope they succeed.</cite></p>
<pre class="code"><code>&lt;p>&lt;q>My text&lt;/q> &lt;cite>My cite&lt;/cite>&lt;/p></code></pre>

<h3>Preformatting</h3>
<pre>
&lt;div>
    &lt;p>Sample text here...&lt;/p>
&lt;/div>
</pre>
<pre class="code"><code>&lt;pre>My text&lt;/pre></code></pre>

<h3>Dividers</h3>
<hr class="code" />
<pre class="code"><code>&lt;hr /></code></pre>

<hr />

<h2 id="part-colors">Colors</h2>
<h3>Text</h3>
<p class="text-muted nospace">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
<p class="text-info nospace">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
<p class="text-success nospace">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
<p class="text-warning nospace">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
<p class="text-error nospace">Etiam porta sem malesuada magna mollis euismod.</p>
{% include "divio_styleguide/styleguide/colors.html" %}

{# this renders the information panel on the left #}
<div class="styleguide-hint">
	{% include "divio_styleguide/includes/codeview.html" %}

	<h3>Categories</h3>
	<ul class="categories">
		<li><a href="#part-fonts">Fonts</a></li>
		<li><a href="#part-headings">Headings</a></li>
		<li><a href="#part-text">Text</a></li>
		<li><a href="#part-emphasis">Emphasis</a></li>
		<li><a href="#part-alignment">Alignment</a></li>
		<li><a href="#part-lists">Lists</a></li>
		<li><a href="#part-other">Other</a></li>
		<li><a href="#part-colors">Colors</a></li>
	</ul>
</div>