<p>There are some additional utilities such as <code>.skip-links</code>, <code>.noscript</code> and <code>.chromeframe</code>
	which might require your attention. Check <code>base_root.html</code> the get a grasp of their functionality and use cases.</p>

<h2 id="part-utilities-general">General</h2>
<table class="table">
	<colgroup>
		<col style="width:40%;" />
		<col style="width:60%;" />
	</colgroup>
	<thead>
	<tr>
		<th><strong>Class</strong></th>
		<th><strong>Description</strong></th>
	</tr>
	</thead>
	<tbody>
	<tr><th colspan="2"><strong>Text</strong></th></tr>
	<tr><td><code>.highlight</code></td><td>adds $color-primary to text-color</td></tr>
	<tr><td><code>.uppercase</code></td><td>sets text to uppercase</td></tr>
	<tr><td><code>.lowercase</code></td><td>sets text to lowercase</td></tr>
	<tr><td><code>.hide-text</code></td><td>renders element but hides text</td></tr>
	<tr><th colspan="2"><strong>Spacing</strong></th></tr>
	<tr><td><code>.space(r)</code></td><td>adds $line-space * 2 to an empty div</td></tr>
	<tr><td><code>.halfspace</code></td><td>halfes padding top and bottom</td></tr>
	<tr><td><code>.nospace</code></td><td>sets 0 on padding top and bottom</td></tr>
	<tr><td><code>.nowrap</code></td><td>prevents text from wrapping</td></tr>
	<tr><th colspan="2"><strong>Display</strong></th></tr>
	<tr><td><code>.inline</code></td><td>sets display to inline</td></tr>
	<tr><td><code>.block</code></td><td>sets display to inline-block</td></tr>
	<tr><td><code>.relative</code></td><td>sets position to relative</td></tr>
	<tr><th colspan="2"><strong>Layout</strong></th></tr>
	<tr><td><code>.float-left</code></td><td>sets float to left</td></tr>
	<tr><td><code>.float-right</code></td><td>sets float to right</td></tr>
	<tr><td><code>.float-none</code></td><td>sets float to none</td></tr>
	<tr><td><code>.clearfix</code></td><td>clears floating on a wrapper</td></tr>
	<tr><td><code>.clear</code></td><td>clears floating using an element</td></tr>
	<tr><th colspan="2"><strong>Print</strong></th></tr>
	<tr><td><code>.visible-print</code></td><td>visible for print</td></tr>
	<tr><td><code>.hidden-print</code></td><td>hidden for print</td></tr>
	<tr><td><code>.pagebreak-after</code></td><td>adds pagebreak after</td></tr>
	<tr><td><code>.pagebreak-before</code></td><td>adds pagebreak before</td></tr>
	<tr><td><code>.print-js</code></td><td>adds a javascript to print the page</td></tr>
	</tbody>
</table>

<div class="space"></div>

<h2 id="part-utilities-responsive">Responsive</h2>
<table class="table-responsive-grid">
	<colgroup>
		<col style="width:20%;" />
		<col style="width:25%;" />
		<col style="width:25%;" />
		<col style="width:25%;" />
	</colgroup>
	<thead>
		<tr>
			<th class="align-bottom">Class</th>
			<th>Phones <span>520px and below</span></th>
			<th>Tablet <span>520px to 860px</span></th>
			<th>Desktop <span>Default</span></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>.visible-phone</th>
			<td class="tblv">Visible</td>
			<td class="tblh">Hidden</td>
			<td class="tblh">Hidden</td>
		</tr>
		<tr>
			<th>.visible-tablet</th>
			<td class="tblh">Hidden</td>
			<td class="tblv">Visible</td>
			<td class="tblh">Hidden</td>
		</tr>
		<tr>
			<th>.visible-desktop</th>
			<td class="tblh">Hidden</td>
			<td class="tblh">Hidden</td>
			<td class="tblv">Visible</td>
		</tr>
		<tr>
			<th>.hidden-phone</th>
			<td class="tblh">Hidden</td>
			<td class="tblv">Visible</td>
			<td class="tblv">Visible</td>
		</tr>
		<tr>
			<th>.hidden-tablet</th>
			<td class="tblv">Visible</td>
			<td class="tblh">Hidden</td>
			<td class="tblv">Visible</td>
		</tr>
		<tr>
			<th>.hidden-desktop</th>
			<td class="tblv">Visible</td>
			<td class="tblv">Visible</td>
			<td class="tblh">Hidden</td>
		</tr>
	</tbody>
</table>

<div class="space"></div>

<h2 id="part-utilities-javascript">JavaScript</h2>
<p>
	<strong>Link opening as popup:</strong><br />
	<a href="http://www.google.com" class="popup" data-width="600" data-height="400">Open popup</a><br />
</p>
<pre class="code"><code>&lt;a href="..." class="popup" data-width="600" data-height="400">Open popup&lt;/a></code></pre>

<p>
	<strong>E-Mail encryption:</strong><br />
	<a href="#info" data-rel="google.com" class="mailcrypte">E-Mail</a><br />
</p>
<pre class="code"><code>&lt;a href="#info" data-rel="google.com" class="mailcrypte">E-Mail&lt;/a></code></pre>

{# this renders the information panel on the left #}
<div class="styleguide-hint">
	{% include "divio_styleguide/includes/codeview.html" %}

	<h3>Categories</h3>
	<ul class="categories">
		<li><a href="#part-utilities-general">General</a></li>
		<li><a href="#part-utilities-responsive">Responsive</a></li>
		<li><a href="#part-utilities-javascript">JavaScript</a></li>
	</ul>
</div>