{% extends 'base.html' %}
{% load i18n standard_form %}

{% block content %}
<div class="container-24 clearfix">
	<div class="grid-12">
		<h1>Standard field tag</h1>
		<form action="." method="post" class="frm">
			<fieldset class="frm-horizontal">
				{% csrf_token %}
				<ol>
					<li>{% standard_field form.first_name 'no_required' custom_class='input-block' placeholder='My custom placeholder' %}</li>
					<li>{% standard_field form.last_name 'no_required placeholder_from_label' custom_class='input-block' %}</li>
					<li>{% standard_field form.email 'no_required no_required_helper no_help_text no_error_text' custom_class='input-block' placeholder='This one has all the available options' label='My label' %}</li>
					<li>
						<label>&nbsp;</label>
						<div class="field"><input type="submit" class="btn" /></div>
					</li>
				</ol>
			</fieldset>
		</form>
    </div>
    <div class="grid-12">
        <h3>Example with all available options</h3>
        <code>{% templatetag openblock %} standard_field form.email 'no_required no_required_helper no_help_text no_error_text' custom_class='input-block' placeholder='This one has all the available options' label='My label' {% templatetag closeblock %}</code>
    </div>
</div>
<div class="container-24 clearfix">
    <div class="grid-12">
		<h1>Standard form tag</h1>
		<form action="." method="post" class="frm">
			<fieldset class="frm-horizontal">
				{% csrf_token %}
				{% standard_form form 'no_required' custom_class='input-block' %}
				<ol>
					<li>
						<label>&nbsp;</label>
						<div class="field"><input type="submit" class="btn" /></div>
					</li>
				</ol>
			</fieldset>
		</form>
    </div>
    <div class="grid-12">
        <h3>Example</h3>
        <code>{% templatetag openblock %} standard_form form 'no_required' custom_class='input-block' {% templatetag closeblock %}</code>
    </div>
</div>
{% endblock content %}
